[2018-08-15 21:20] anthonyemberley opened #7 "Streetscape Pre-Public Launch Checklist"
### Checklist / roadmap for tasks necessary before public launch
 **Binary protocol support:**
- [ ] Packed point cloud format
- [ ] PLY point cloud
- [ ] Images

 **Frontend components:**
- [x] Full declarative UI support (React components)
- [x] Add metrics panel for acceleration / velocity to KITTI demo

**Demo - end to end concise example:**
- [ ] Data transformation
- [x] Stream server
- [x]

[2018-08-20 19:15] xintongxia opened #13 "add variable metrics card for kitti example"
- converter: generate velocity and acceleration when converting kitti dataset (using XvizBuilder)
- loader: load the time series metrics and format data for visualizing
- viewer: visualize metrics with component from `monochrome-ui`

[2018-08-20 19:17] xintongxia opened #14 "add Udacity dataset example"
- convert dataset: Udacity dataset is in rosbag format
  - rosbag helper functions to load bag for selected topics
  - use XvizBuilder to generate frame from bag data
- visualize the in XvizViewer

[2018-08-20 19:19] xintongxia opened #15 "reconstruct xviz-viewer code"
XvizViewer Should be a generic app.

Need move kitti specific code (mainly the XvizConfig file) out of XvizViewer

[2018-08-23 06:50] #15 closed, assigned to xintongxia

[2018-08-30 13:47] twojtasz opened #28 "Streetscape support for Camera Images"
Streetscape must support v2 camera metadata and XVIZ binary streams with images to render in our camera control.

The current image support in streetscape is based on data blob sent over the websocket that is not packed within XVIZ binary.  We must support the images from XVIZ binary and ensure that images are handled appropriately for rendering in the camera control.

[2018-08-31 22:44] Pessimistress opened #33 "LogViewer API Improvements"
- [x] prop to control stream visibility
- [x] prop to override XVIZ styles
- [x] add user-defined deck.gl layers

[2018-08-31 22:44] Pessimistress opened #34 "Demo Application"

[2018-09-05 16:26] ibgreen opened #36 "Setup Buildkite"
@KevinGrandon Any chance you could help setup buildkit for this repo?

[2018-09-05 21:12] ibgreen opened #37 "Enforce uber-es2015 Coding Style"
- Remove .eslintrc overrides (mainly `camelcase`)
- fix linter setup
- update code to pass linter and prettier.

Also see https://github.com/uber/xviz/issues/54

[2018-09-06 14:08] ibgreen opened #40 "Add test coverage"

[2018-09-11 19:58] xintongxia opened #43 "Metrics panels for kitti demo are missing"
Enabling the Declarative UI in the[ kitti-converter.js](https://github.com/uber/streetscape.gl/blob/master/examples/converters/kitti/src/converters/kitti-converter.js#L95) file causes an error in the xviz-viewer.

[code]

[2018-09-12 06:33] twojtasz opened #45 "Kitti doc update for camera support"
The camera's will be include by default, but they are too large.  We need defaults that are sensible and do not require any special parameters to make the application usable.

I had to use the following to "see" the scene.
`yarn start --image-max-width 400 --disable-stream image_00,image_01,image_02 -d 2011_09_26/2011_09_26_drive_0005_sync`

Also, the images obscure the UI, so it's not a very nice

[2018-09-12 19:10] twojtasz opened #47 "Lidar data for tracklet does not always render thru tracklet polygons"
These are screen shots from the kitti example. The yellow tracklet is obscures the lidar data. Once the object is no longer tracked we can see the underlying lidar data is there.

<img width="366" alt="screen shot 2018-09-12 at 12 09 04 pm" src="https://user-images.githubusercontent.com/1523932/45447542-b72e4000-b684-11e8-96e0-4c5463f601b3.png">
<img width="466" alt="screen shot 2018-09-12 at 12 0

[2018-09-14 00:49] Pessimistress opened #49 "Use per-object tracklet height in KITTI example"

[2018-09-17 16:28] twojtasz opened #56 "Seek and buffer management support in xviz-viewer"
XVIZ viewer needs to support buffering and dropping data sent from the server.  The server also needs to support more intelligent sending of data and some basic protocol commands.

Currently we retain all data we are sent which will make the application  unresponsive as data size approaches the browsers limit or various visuals have to process increasing amounts of data.

Requirements are:
1. Impl

[2018-09-17 16:35] twojtasz opened #57 "Codepen like environment for XVIZ"
We need a CodePen like environment that accounts for all the data we need to demonstrate minimal XVIZ examples.

This includes
 - [x] XVIZBuilder
 - [x] XVIZMetadataBuilder
 - [ ] Declarative UI
 - [ ] Support for predefined examples

[2018-09-19 02:15] Pessimistress opened #61 "Support Object Interaction"
- [x] Highlight selected object
- [x] Object popups
- [x] Hover tooltip

[2018-09-20 19:11] #37 closed, assigned to ibgreen

[2018-09-20 19:11] #40 closed, assigned to ibgreen

[2018-09-20 19:11] #36 closed, assigned to KevinGrandon

[2018-09-21 19:15] ibgreen opened #65 "Documentation Improvements"
Feedback from @globetro:

This is in retrospect what I would've found helpful:

- [x] Why there are 2 packages (xviz and streetscape), and the purpose of each one. #67
- [x] High level overview of the steps to get a fully functioning system: 1. Converters to create the frames (and how to use xvizbuilder to do that), 2. Server that serves the frames, 3. Streetscape components for consuming the fram

[2018-09-26 17:35] xintongxia opened #66 "Move generating trajectory code to xviz"

[2018-09-28 17:40] twojtasz opened #73 "XVIZ Server"
Implement a server that include the dynamic protocol to support:
- random seek
- multiple data sets
- dynamic stream filtering

This can still be over pre-extracted data

[2018-09-28 17:43] twojtasz opened #74 "XVIZ Server ROSBAG support"
Support ROSBAG extraction

Questions remain as to what can be extracted by default w/o an configuration to make this turnkey.
Research must be done.

[2018-09-28 17:44] twojtasz opened #75 "Website Design"

[2018-09-28 17:44] twojtasz opened #76 "Website creation"

[2018-09-28 18:17] twojtasz opened #77 "Release PR Planning"

[2018-09-28 18:17] twojtasz opened #78 "Technical Writing Review"

[2018-09-28 19:34] twojtasz opened #79 "Nutonomy data conversion"

[2018-09-28 21:00] twojtasz opened #80 "XVIZ Server C++"

[2018-09-28 21:11] #33 closed, assigned to Pessimistress

[2018-09-28 21:11] #49 closed, assigned to Pessimistress, xintongxia

[2018-09-28 21:12] #28 closed, assigned to xintongxia

[2018-09-28 21:12] #43 closed, assigned to twojtasz

[2018-09-28 21:12] #13 closed, assigned to Pessimistress

[2018-10-09 18:06] #45 closed, assigned to xintongxia

[2018-10-16 18:46] Pessimistress opened #93 "Stream settings panel component"

[2018-10-17 02:55] Pessimistress opened #97 "KITTI: pack lidar point cloud colors"

[2018-10-17 17:21] #56 closed, assigned to Pessimistress

[2018-10-17 17:23] #93 closed, assigned to nobody

[2018-10-17 17:24] #66 closed, assigned to nobody

[2018-12-03 20:13] twojtasz opened #163 "Playback throttling in XVIZ-VIEWER"
Current xviz-viewer does not pause playback when the playhead exceeds the current loaded data.

We need to:
1. stop the playback from advancing if we do not have any data
2. resume playback when we have sufficient data

There is an open question to answer which is what criteria we use to answer #2

[2018-12-26 21:19] Pessimistress opened #194 "Remove the requirement for `metadata.logStartTime` and `metadata.logEndTime`"

[2018-12-28 00:15] #194 closed, assigned to Pessimistress

[2019-01-07 20:15] #97 closed, assigned to nobody

[2019-01-07 20:16] #61 closed, assigned to Pessimistress

[2019-01-07 20:22] Pessimistress opened #211 "API Audit"
- [x] Review component and props naming convention
- [x] Support advanced use cases with experimental export
- [x] Export and documentation alignment

[2019-01-07 20:27] Pessimistress opened #212 "Improve Nutonomy demo data quality"
- [ ] Separate object streams to align with original source
- [ ] Support higher framerate

[2019-01-07 20:28] #80 closed, assigned to nobody

[2019-01-07 20:28] #73 closed, assigned to nobody

[2019-01-07 20:30] #163 closed, assigned to Pessimistress

[2019-01-07 20:33] #47 closed, assigned to nobody

[2019-01-07 20:33] #76 closed, assigned to nobody

[2019-01-07 21:01] Pessimistress opened #213 "Add query parameters to website demo"
Support direct link to
- datasets
- timestamp
- view mode
- panel

[2019-01-09 19:30] Pessimistress opened #214 "Website demo does not stop loading when switching log source"
There are two issues:

- The demo app needs to close the active log when switching to another
- XVIZFileLoader does not stop loading/parsing after close

[2019-01-11 05:14] jlisee opened #220 "circle radius_m property ignored, only style radius is listened to"
Right now for a circle primitive we have:
 - [radius style](https://github.com/uber/xviz/blob/master/docs/protocol-schema/style-specification.md#radius-number)
 - [radius_m](https://github.com/uber/xviz/blob/master/docs/protocol-schema/geometry-primitives.md#circle-primitive) property

The builder API creates objects with those fields streetscape.gl only pays attentions to the style.  What we want

[2019-01-11 17:34] #212 closed, assigned to xintongxia

[2019-01-22 18:53] #214 closed, assigned to xintongxia

[2019-02-12 21:23] twojtasz opened #238 "Improve behavior around metadata log_info start/end times and streetscape playbackcontrol & buffering"
XVIZ change https://github.com/uber/xviz/pull/315 is adding data to satisfy the UI and control in streetscape.gl.

It would be nice if we could simplify this as the log_info is not technically part of the spec.

The discussion is around various modes of operation
- **log mode**, where we have known start/end and we assume they fit within the internal buffer for XVIZ data.
- **live mode**, we do no

[2019-02-14 18:59] jlisee opened #239 "Examples do not work in local mode"
### Reproduce

In the xviz repo run:
[code]

Then in streetscape.gl repo:
[code]

### Result
![screenshot from 2019-02-14 13-51-31](https://user-images.githubusercontent.com/780321/52810158-eeec4a00-305f-11e9-8a12-f67a5951c026.png)

### Expected.

![screenshot from 2019-02-14 13-58-53](https://user-images.githubusercontent.com/780321/52810492-b13bf100-3060-11e9-99ab-11c0a63f1cf6.png)

[2019-02-14 21:53] #239 closed, assigned to twojtasz

[2019-02-14 22:02] jlisee opened #240 "Drop the requirement for "/vehicle_pose" stream"
Right now if you do not supply a `/vehicle_pose` poses stream you don't get any data on screen and get no errors.  What should happen is that if there is no vehicle pose:

 - We assume the vehicle position is identity
 - We disable the mapbox layer (since there is no lat/long informaton)
 - No vehicle mesh is drawn on screen

[2019-02-20 16:56] Pessimistress commented on #220
This is fixed per #243

[2019-02-20 16:56] #220 closed

[2019-02-20 16:57] #211 closed

[2019-02-20 16:57] #34 closed

[2019-02-20 16:57] #65 closed

[2019-02-20 16:58] #77 closed

[2019-02-20 16:59] #7 closed

[2019-02-21 16:28] jlisee commented on #75
Website shipped! http://avs.auto so we can consider this done until we want to do another pass.

[2019-02-21 16:28] #75 closed

[2019-02-21 16:52] jlisee opened #248 "Add event handler for clicks in 3D viewport"
There are event handlers for when an object is selected but we also ones for just anywhere in the 3D world. This will allow users to compose arbitrarily complex applications with those events and a custom deck.gl layer.

[2019-02-21 17:07] #78 closed

[2019-02-21 17:07] #79 closed

[2019-02-21 17:25] twojtasz commented on #57
Initial app #216

[2019-02-27 01:04] #240 closed

[2019-02-27 02:24] ytgcljj opened #255 "localhost:8080"
I want to use IP address to access through the network, not using localhost, how to set up

[2019-02-27 07:21] tkt028 opened #256 "Select a vehicle and switch Camera Focus to it"
**Context**
- in my project, I have a point cloud data (collection of points with coordinates and colors) and a JSON file describing the trajectory of vehicles (coordinates, orientation associated with timestamp).
- All the vehicles are equally important, there is no primary one. The coordinates are in absolute values.

**Requirement**
- I want to be able to dynamically select a vehicle (by mouse)

[2019-02-27 08:07] xintongxia commented on #256
Our framework support different kinds of coordinate systems, you can find in xviz [doc](https://avs.auto/#/xviz/api-reference/xviz-builder/xviz-metadata-builder?section=methods) and search for `coordinate`. In your case, you can use `IDENTITY`.

Also there is another example [NuTonomy converter](https://github.com/uber/xviz/blob/master/examples/converters/nutonomy/src/converters/gps-converter.js#L

[2019-02-27 09:27] gerardsimons opened #257 "Implementing your own streaming server"
Hi,

I have my own robotics project going on which streams data over UDP. I wanted to implement some kind of middleware that converts these streams to XVIZ streams. I am having trouble figuring out the best approach for doing this.

On the one end, we have the examples in XVIZ, but they all seem to load files or generate frames (scenarios) beforehand and serving them in a rather complex way with x

[2019-02-27 19:39] jlisee commented on #256
As mentioned by @xintongxia the default coordinate transform for a stream is `IDENTITY` so you can use absolute coordinates right now.  While we just made a vehicle pose optional #348, the camera controls are all based around the notion of there being a specific vehicle that you can care about.  The assumption was if you had no pose, all data was centered around the origin, like when viewing raw s

[2019-02-27 21:54] Pessimistress commented on #257
@gerardsimons Sorry that should have linked to [the XVIZ repo](https://github.com/uber/xviz/blob/master/docs/getting-started/running-the-example.md).

Streetscape currently offers implementations of loaders from two sources, file loader from static URL, and stream loader from WebSocket. If you need a different type of connection [this page](https://avs.auto/#/streetscape.gl/api-reference/loaders/x

[2019-02-27 22:33] gerardsimons commented on #257
Thanks I did figure it out using a WebSocket server as you said. Still I think a very simple server would help out a lot of folks, especially those (like me) who are unfamiliar with NodeJS and WebSocket servers.

[2019-02-27 22:33] #257 closed

[2019-02-27 23:41] Pessimistress commented on #257
@gerardsimons The XVIZ repo offers the simple server in https://github.com/uber/xviz/tree/master/examples/server and we're planning to package it into a module when it's feature complete.

[2019-02-27 23:43] #248 closed

[2019-02-28 09:35] gerardsimons commented on #240
Does this mean you would be able to for example update other parts of the map (like vehicles around you) without having to resend the pose of your own vehicle?

[2019-02-28 09:41] gerardsimons opened #260 "Use your own mesh"
Hi,

What would be the easiest way of adding your own mesh? I have my own OBJ file, is it possible to load it directly or is there a utility script that converts it to the format found in sedan.js?

[2019-02-28 10:17] gerardsimons commented on #257
Indeed it does, but the example is quite complex and requires pre-loading the frames before serving. I think the easiest way to get started is actually a kind of streaming server that just sends some pose and other frames whenever it wants. I think the server in the examples is too complicated for many and might deter people from using it.

[2019-02-28 10:37] xintongxia commented on #260
@gerardsimons

Our kitti example has a [util](https://github.com/uber/streetscape.gl/blob/master/examples/website-demo/src/utils/load-obj-mesh.js) function that loads mesh obj file.

[2019-02-28 10:40] gerardsimons commented on #260
Awesome, thanks!

[2019-02-28 10:40] #260 closed

[2019-02-28 19:14] johnwlambert opened #261 "Link broken/missing"
On [this page](https://avs.auto/#/streetscape.gl/getting-started/starter-kit?section=display-the-base-map), a link is given to:

https://github.com/uber/streetscape.gl/tree/master/examples/get-started/log-from-stream.js

I'm getting an error when I try to access it

[2019-02-28 19:26] twojtasz commented on #261
fixing

[2019-03-01 16:44] snosenzo opened #265 "SignLayer is displaying black over the front of signs at certain angles/normals."
Bug: The SignLayer is displaying black over the front of faces at some angles and not covering the back of the sign, as seen below:
![signlayerbug2](https://user-images.githubusercontent.com/10187776/53652440-e6c30b80-3c16-11e9-946e-504a0fb2e5f0.gif)

Enhancement: It would also be nice to be able to toggle this black overlay in the layer if that's possible.

[2019-03-02 21:44] #261 closed

[2019-03-02 23:51] johnwlambert opened #266 "Broken link"
On [this page](https://avs.auto/#/streetscape.gl/getting-started/starter-kit), I see a link to
https://github.com/uber/streetscape.gl/tree/master/examples/get-started/log-from-file.js
However, this link is broken.

Thanks for fixing the other link!

[2019-03-02 23:52] johnwlambert commented on #266
This link is also broken:

https://avs.auto/docs/api-reference/xviz-file-loader.md

along with this link:

https://avs.auto/docs/get-started/mapbox-tokens.md

[2019-03-03 17:24] jlisee commented on #266
Woops, we’ll port [this check](https://github.com/uber/xviz/commit/17ec0c67e08b202da5bbf50a019bc09f39b27c6b) from the XVIZ repo to save you the trouble from finding these the hard way.

[2019-03-07 09:38] tkt028 commented on #256
Thank you @jlisee and @xintongxia about the hints of coordinate topic. It's really helpful to my work.

**Technical note about this ticket:**
I dig into the code to find the solution for this feature. I learned that
- (POINT 1) file streetscape.gl/modules/core/src/components/log-viewer/core-3d-viewer.js -> function _getViewState(): the information (longitude, latitude, bearing) of frame.trackPosit

[2019-03-07 14:07] jlisee commented on #256
The vehicle based camera can track the vehicle but not track it's orientation.  Given that it should be possible for an initial version of this to be built without requiring any orientation information or control.

[2019-03-07 20:42] twojtasz opened #270 "Stream-based datum playback control"
It is desirable to be able to select a specific stream and control playback not based on time but on the specific datum directly, stepping over sample by sample.

[2019-03-09 23:20] amandazhuyilan opened #271 "Where is examples/client?"
Trying to play around xviz but could not find the client folder as indicated in the 'xviz/docs/getting-started/running-the-example.md (Demo Start Application)'?

[2019-03-10 18:59] Pessimistress commented on #271
Sorry about the confusion. The page in XVIZ is outdated. See streetscape's [starter kit](https://avs.auto/#/streetscape.gl/getting-started/starter-kit) page for instructions to run the client demo.

[2019-03-11 08:57] shunjilin opened #273 "Error when doing npm install streetscape.gl"
There seems to be an error when running npm install streetscape.gl, in particular when dealing with loaders.gl/gltf dependency
`
npm ERR! path /home/user/app/node_modules/@loaders.gl/gltf/bin/glbdump.js
npm ERR! code ENOENT
npm ERR! errno -2
npm ERR! syscall chmod
npm ERR! enoent ENOENT: no such file or directory, chmod '/home/user/app/node_modules/@loaders.gl/gltf/bin/glbdump.js'
npm ERR! enoent

[2019-03-11 17:34] ibgreen commented on #273
This was fixed in a loaders.gl patch. I was under the impression that @twojtasz had updated streetscape to include that fix.

[2019-03-12 06:16] yiqin commented on #273
@ibgreen What is workaround to this issue?

[2019-03-12 09:10] gerardsimons opened #274 "Polyline rendering / rounding issue"
Hi everyone,

I am trying to draw a polyline with GEOGRAPHIC coordinates. I am using the `yarn start-live-local` from getting started. Before I was having this issue, so I am not sure if it's somehow related: https://github.com/uber/xviz/issues/402

For testing I am just trying to draw a pretty huge line with just 2 vertices. Sometimes I do not see the polyline appear however, I seem to have narro

[2019-03-12 12:42] gerardsimons commented on #274
I changed the name because I have a feeling it's not due to rounding but rather to an issue when the distance becomes too small. If I try this builder in the playground:

[code]

It does *not* work. If i change the interpolation to 0.3 it *does* work. Any thoughts on this?

[2019-03-12 12:59] gerardsimons commented on #274
The plot thickens, if I remove the altitude component it works. So actually if I give the other end of the polyline a different altitude it will work, at least that's what it looks like currently:

[code]

[2019-03-12 16:39] Pessimistress commented on #274
This is due to https://github.com/uber/xviz/blob/master/modules/parser/src/config/xviz-config.js#L24 which is used to simplify paths. The default is 0.1 (meter) but in your case it is used on coordinates in degrees.

@twojtasz I think two things need to happen:

- The option should be documented
- The default should be 0

[2019-03-12 16:41] #271 closed

[2019-03-13 06:18] tkt028 opened #275 "Polygon rendering issue in GEOGRAPHIC coordinate"
Hi everyone,
I am working on drawing the Bounding Box for primitive object (polygon) in the coordinate GEOGRAPHIC.
The current situation: the Car icon is drawn in the right position, however, the Bounding Box polygon is not displayed.
I have tried different below experiments, but they don't work
- keep or remove the altitude component of Polygons points -> nothing happen
- provide 4, 5, 8 points o

[2019-03-13 06:18] tkt028 commented on #275
I think this ticket somehow related to #274.

[2019-03-13 06:49] tkt028 commented on #275
I followed the hint [1] to set XVIZ Config "pathDistanceThreshold" to 0, but it doesn't work too. Please see the screenshot.

[1] https://github.com/uber/streetscape.gl/issues/274#issuecomment-472080610

<img width="1639" alt="image" src="https://user-images.githubusercontent.com/1096511/54258919-b5dbc280-4596-11e9-8fc8-cb76756fb17b.png">

[2019-03-13 06:51] tkt028 commented on #274
I have a similar issue of Polygon, I followed the hint of setting `pathDistanceThreshold `  to 0, but it doesn't work. Please see
https://github.com/uber/streetscape.gl/issues/275#issuecomment-472301267

[2019-03-13 15:05] Pessimistress commented on #275
The error should have been fixed by https://github.com/uber/streetscape.gl/pull/272. Can you make sure you have the latest master?

[2019-03-13 15:20] Algirdyz opened #276 "Ability to set mabox layers"
I am trying to use various mapbox layers in streetscape but I had no luck trying to set it up.
From my understanding there is no proper way to set it, because the on load functionality and the map object are not exposed to the LogViewer component.

I was trying to combine this layer:
https://docs.mapbox.com/mapbox-gl-js/example/3d-buildings/

And I was using this example to figure it out:
https://

[2019-03-13 16:21] twojtasz commented on #274
Ok,  i'll add docs/default/tests

[2019-03-14 08:24] tkt028 commented on #275
Hi @Pessimistress ,
Thank you for the hints. You are right. By using the latest master, the Polygon is rendered now.
However, it seems that the Car icons are rendered in the right location while the polygons are rendered in the wrong place. From the below screenshot, it seems there is a constant distance between the Car icons and the Polygons.

Do you have any technical suggestion of Streetscapes.

[2019-03-14 09:06] tkt028 opened #277 "Point cloud rendering issues in GEOGRAPHIC coordinate"
Hi everyone,
I am adding a static point cloud (about surround environment, building) into XVIZ frames with coordinate GEOGRAPHIC. But the point cloud is not rendered (or at least I don't see it). NOTE: I have used the latest master code as suggested by [1].

[1] https://github.com/uber/streetscape.gl/issues/275#issuecomment-472749511

Sample XVIZ metadata
[code]

Sample XVIZ data (10-frame.json)

[2019-03-14 09:58] gerardsimons commented on #273
Otherwise try `yarn add` rather than `npm install`

[2019-03-14 17:44] Pessimistress commented on #275
First impression by looking at your sample data - your vehicle is at altitude `12.1044184975` (`[0, 0, 0]` meters from `mapOrigin`) and your objects are at altitude `0` (using absolute coordinates due to `GEOGRAPHIC` coordinate system). The 12m vertical difference is significant.

[2019-03-14 21:19] Pessimistress commented on #275
@tkt028 we have an experimental demo app at https://avs.auto/playground/index.html where you can live edit log metadata and frames.

[2019-03-14 23:00] Pessimistress commented on #277
This is indeed something we do not support... May I ask why you want to use GEOGRAPHIC coordinates for point cloud? To accurately render lng/lat positions we need 64bit float for each point, comparing to 32bit when you use IDENTITY or VEHICLE_RELATIVE (i.e. meters).

[2019-03-15 02:23] tkt028 commented on #275
Hi @Pessimistress ,
You are right. By setting the altitude to 0, the vehicle position is aligned with the MapBox.
I close this ticket now. Thank you very much!

[2019-03-15 02:23] #275 closed

[2019-03-15 15:15] Algirdyz opened #280 "WebGL errors when loading my own mesh"
I have tried loading my own mesh using the util from KITTI example. It loads fine, but I am getting errors afterwards, when things try to render.
![Screenshot from 2019-03-15 16-13-47](https://user-images.githubusercontent.com/7482324/54441629-73081f00-473d-11e9-9136-9c95ca5cd655.png)

It works fine with the provided car.obj. But I've tried several models of my own and it didn't work.

Is there a

[2019-03-15 17:47] ibgreen commented on #280
We use the [loaders.gl](https://github.com/uber-web/loaders.gl) library for loading meshes. We do have OBJ test files in that repo that load without problems, so your file is probably using some feature in the OBJ format that we haven't tested.

For hopefully obvious reasons we can't commit to supporting all variations of all formats, however if you can share the model (or any model that fails in

[2019-03-17 14:44] gerardsimons commented on #276
BUMP: I would really love to know if this is possible as well. This would immensely enhance the capabilities of the MapBox component.

[2019-03-18 20:46] Pessimistress commented on #276
@Algirdyz Have you tried including the 3d buildings layer in the `mapStyle` object?

We could add an API for you to access the underlying Mapbox Map instance.

[2019-03-18 20:47] #265 closed

[2019-03-19 13:08] Algirdyz commented on #280
What is the official way of loading meshes using loaders.gl then?
I couldn't really find what exactly is supported in the documentation.

But anyway, here is my model:
[boat.txt](https://github.com/uber/streetscape.gl/files/2983416/boat.txt)

I changed it to txt because github didn't allow uploading otherwise.

[2019-03-20 02:44] ibgreen commented on #280
I tried your model in the loaders.gl render tests, and it did render, no webgl errors.

The scale was big compared to our reference model so I had to zoom out a bit to see it. The issue might be in the `MeshLayer`, this layer is being improved for deck.gl v7, next step is to test your model in that layer. @xintongxia

Our focus in the upcoming v7 release of deck.gl is to provide really good suppor

[2019-03-20 07:58] gerardsimons commented on #276
Ah, indeed that works by adding such a layer manually to the style.json. When you make one in MapBox studio and download it, it's not being added for some reason, but when you for example add a simple extrusion layer afterwards:

[code]

It works! Just make sure you add it to the end, otherwise you might have some layers (roads) drawn on top of the buildings.

![image](https://user-images.githubus

[2019-03-20 09:15] pgh41 opened #282 "how to change color theme"
In the docs, default theme is dark but i install it it was light-theme
how to change to the dark theme?
i want to know the file path that set the theme in /example/get-started

[2019-03-20 18:53] jlisee opened #283 "Camera does not handle position values with Z >= 0"
You can try this out in https://avs.auto/playback  Add a `position: [0, 0, 200]` to the vehicle pose manually and everything disappears.  If you instead set the `Z` to zero and use the `mapOrigin`, `altitude` field it works.

[2019-03-20 21:59] shanshanzhu opened #284 "Support type checking(flowtype)"
This is a feature request.

Can we add a flowtype definition file or add the type checking for the exported variables?

[2019-03-21 11:11] jlisee commented on #283
The workaround did not work with continuous frame data, here is what I did in the [playground](https://avs.auto/playground/):

[code]

[code]

[2019-03-21 12:45] gerardsimons commented on #280
Ah so the trick is to use the loaders.gl? Because it looks like the examples in streetscape.gl do not actually use these to load OBJ meshes?

https://github.com/uber/streetscape.gl/blob/master/examples/website-demo/src/utils/load-obj-mesh.js

[2019-03-21 13:42] gerardsimons commented on #280
Ah it seems that the loaders.gl is a wrapper around that webgl-obj-loader. We are trying the gltf one now. What library would you advise to load that into? Any other examples out there that could help us?

[2019-03-21 14:06] ibgreen commented on #280
@gerardsimons

@xintongxia @twojtasz @Pessimistress Should we make an attempt to update the OBJ loader in streetscape.gl to use loaders.gl? That should make it easier to support issues with loaders.

Re glTF: My comment was more of a "heads up", since at this moment, we are finalizing v7 of luma.gl and deck.gl with extensive glTF support. But unless you are willing to deal with the (considerable)

[2019-03-21 14:39] gerardsimons commented on #280
Alright, great, thanks for getting back to us so soon. We really appreciate it. Unfortunately are on a bit of tight deadline here and were hoping to get something up and running sooner. The mesh is the last important piece of the puzzle. So I guess the loaders.gl with the OBJ would be the way to go. Just out of curiosity what tests / code did you run on our model? I could perhaps piece out from th

[2019-03-21 22:01] ibgreen commented on #280
Here is the diff on loaders.gl: https://github.com/uber-web/loaders.gl/compare/master...ib/obj-test

Will delete your model and this branch later on.

[2019-03-22 03:01] #282 closed

[2019-03-22 09:21] gerardsimons commented on #280
Thank you for that @ibgreen! It does look like all goes well there. At a loss where it goes wrong then. Will try and poke at it some more to see where it exactly goes wrong then. If anyone else is willing to chime in on what format or loader to use so it would render in streetscape I would be very happy.

[2019-03-22 10:22] gerardsimons commented on #280
I fixed it! Turns out it was a texture coordinate issue. My model did not have any, but the car did. I did not want to add them though so I change the code in load-obj-mesh.js to

[code]

[2019-03-22 16:22] ibgreen commented on #280
@gerardsimons 	Congrats and nice finding!

@xintongxia The fact that loaders.gl already handles this (and at least one mode) issue seems like a good reason for streetscape.gl to upgrade to use the OBJLoader from loaders.gl.

[2019-03-27 11:16] rob137 commented on #273
`yarn add` worked for me, but `npm install` didn't.

[2019-03-28 02:01] marionleborgne opened #286 "Add new controller prop to LogViewer"
Allow passing a custom map controller (http://uber.github.io/react-map-gl/#/Documentation/advanced/custom-map-controller?section=overriding-the-default-map-controller) to `LogViewer` via a `controller` prop.

[2019-03-28 05:27] tngan commented on #280
@gerardsimons Awesome, it works for me as well.

[2019-03-28 21:19] twojtasz commented on #284
This is planned, but I don't know exactly when we will start on this.  The "window" was in a few weeks, but that is pushed out to about 1 month.

[2019-03-28 21:20] twojtasz commented on #284
I'm a bit out of the loop, so maybe I can pair with you on this to get it started quicker?

[2019-03-28 21:39] twojtasz commented on #273
This was updated here: https://github.com/uber/xviz/pull/393 but it may not be published to npm.

I"ll get it published.

[2019-03-28 21:57] twojtasz commented on #273
ok, latest @xviz/parser@1.0.0-beta.6 addresses this issue.

[2019-03-28 21:57] #273 closed

[2019-03-29 00:18] marionleborgne opened #287 "Z position of rendered objects seems to flicker"
In come case, when you zoom in/out object z layering flickers:

![rs-lines-flicker](https://user-images.githubusercontent.com/2488251/55200832-54fadf80-517d-11e9-9e75-7d5af4aea996.gif)

I will PM a repro with canned data.

[2019-04-02 13:55] baker-Xie commented on #257
I'm really agree with you. The server example is very complex for me because I'm not familiar with nodejs. Meanwhile , the server example is realized in node.js. But in most autonomous application ,the data source application are written in c++/python. So, I think maybe we should send our data via TCP/UDP, and the nodejs server receive the data and convert it to XVIZ format in realtime, and then s

[2019-04-05 13:40] jefftam23 opened #292 "Styling for the Tooltip within the XVIZTable component is not customizable"
Hi, in the `XVIZTable` component it seems like there's no way to override the styles for the `Tooltip` component (nor its child `h4`): https://github.com/uber/streetscape.gl/blob/master/modules/core/src/components/declarative-ui/xviz-table.js#L127-L129

This is unlike another Declarative UI component, the `XVIZMetric`, where the child `MetricCard` component allows us to add style overrides: https:

[2019-04-05 20:36] toddmedema opened #293 "Support for rendering oriented images in 3D scene"
Such as displaying a camera image of a traffic light in the position and orientation it was detected

[2019-04-05 20:40] toddmedema opened #294 "Support for information attached to objects"
And either rendered in the scene, or added to the object hover / selection pop-up.

Ideally, this is both for textual data and visualizations (ideally pie charts and line charts to start)

Two examples:
1. When I click on an object in the scene, I want to see arbitrary debug text, such as the object ID
2. While looking at the whole scene, I want to see debug information about all the objects in th

[2019-04-10 18:01] #57 closed

[2019-04-16 18:08] twojtasz opened #298 "Performance hit in deck.gl `compareProps`"
I am seeing a few cases where the `compareProps` takes ~70% of total time when rendering, normally it is very small.

I'm working to get a minimal test case with instructions to reproduce.

[2019-04-16 18:14] twojtasz commented on #298
CompareProps is used to determine if the if the layer cache needs updated (or something like that).
According to a deck.gl developer, Ravi, we should check that our props on that specific layer are not changing unnecessarily.

First pass would be to determine exactly which layer.

[2019-04-18 22:19] jruddell opened #299 "Video Flicker when streaming image blobs"
When running from live, each frame is passed as an image blob. After digging into the code I noticed the [image-sequence.js](https://github.com/uber/streetscape.gl/blob/master/modules/core/src/components/declarative-ui/image-sequence.js#L108) class never has the image data loaded (because the browser needs to load it). </br>
So essentially what happens is `componentWillReceiveProps` sets state fro

[2019-04-22 19:22] twojtasz commented on #298
@Pessimistress found during a debug session deck can serialize a string to report the "reason" for the layer change.  This can be a lot of data that causes the problem.  Fix is coming within 1 day

[2019-04-23 09:47] LazyBuilder opened #301 "Website build script"
I have just started to setup the platform...

I was running the build script here
https://github.com/uber/streetscape.gl/blob/master/website/scripts/build.sh

I was getting an error for line 56

Had to change
`sed -i '' -E 's/href="styl....`
to
`sed -i -E 's/href="styl....`
to get it working..

I am not sure if this is a platform dependent thingy or happens on all OS...
I am running it on Ubuntu 1

[2019-04-23 15:01] jcready opened #302 "Please get streetscape working with deck.gl@7.0.1 (and luma.gl@7.0.0)"
I get the following errors:

[code]

[2019-04-23 15:07] jcready commented on #302
Looks like there is already a PR to address this: https://github.com/uber/streetscape.gl/pull/297

[2019-04-23 15:07] #302 closed

[2019-04-23 20:00] twojtasz commented on #298
streetscape.gl@1.0.0-beta.6 published

[2019-04-23 20:00] #298 closed

[2019-04-25 10:06] Algirdyz commented on #299
I have found the same issue as well.

I personally fixed it by removing the line here:
https://github.com/uber/streetscape.gl/blob/7313aec9c35b8c4d2bde7eea4490b7e5c6c27566/modules/core/src/components/declarative-ui/image-sequence.js#L148

Which clears the image if there is no new one.

[2019-04-29 14:46] jack-wolfs opened #307 "Point rendering issue in GEOGRAPHIC coordinate"
hi everyone
I'm trying to draw a point with GEOGRAPHIC coordinates. but I never see the point appear. I'm not sure if it is a bug or something wrong in my codes.
`// metadata
xvizMetadataBuilder
  .stream('/vehicle_pose')
  .category('pose')

  .stream('/lidar/points')
  .category('primitive')
  .type('point')
  .coordinate('GEOGRAPHIC')
  .streamStyle({
    point_color_mode: 'elevation',
    poin

[2019-05-02 05:01] tkt028 commented on #277
**My solution**: I simply add DeckGL#PointCloudLayer to AVS and it works. I close this ticket now.

[2019-05-02 05:01] #277 closed

[2019-05-04 03:03] marionleborgne opened #315 "LogViewer debug callback return undefined values after deck.gl v7 switch"
In the `LogViewer`, the debug callback returns
[code]
when using streetscape.gl `beta.9` (which is using deck.gl v7).

[2019-05-06 06:34] MGraefe commented on #299
This should be fixed now: https://github.com/uber/streetscape.gl/pull/310

[2019-05-06 08:02] pkulijing commented on #307
Same issue here. It seems the problem has been solved in the newest version.

[2019-05-06 18:15] jruddell commented on #299
@MGraefe Great thanks! When will this be released (so I can pull down in NPM)?

[2019-05-07 19:43] Pessimistress commented on #299
Fix is published in 1.0.0-beta.10.

[2019-05-07 19:44] Pessimistress commented on #276
@gerardsimons the latest release added a `onMapLoaded` callback from which you can access the Mapbox Map instance.

[2019-05-09 14:23] MatthiasThDs opened #321 "Cant visualize XViz generated data"
Hello,
I get the following errors with a fresh install from today.
![errors](https://user-images.githubusercontent.com/50454126/57460817-2260fe00-7276-11e9-8f92-6be52979a981.png)

I installed XViz using get started tutorial:
download-kitti-data.sh
run-kitti-example.sh

After that i installed streetscrape.gl using get started tutorial

I copied the generated "2011_09_26_drive_0005_sync" files (0-fr

[2019-05-09 16:57] Pessimistress commented on #321
I just did a clean reinstall and it is working. Can you document the commands you used to install the dependencies?

[2019-05-09 16:58] #315 closed

[2019-05-09 16:58] #299 closed

[2019-05-09 23:29] Pessimistress commented on #286
You can achieve this by supplying your own view mode:

[code]

[2019-05-13 08:38] MatthiasThDs commented on #321
Hi,

I realized that the problem might be that I generated the glb files on a linux machine and then copied them over to windows. On Windows then i get the error documented above. If i use the original glb files from the website (avs.auto) everything works fine.

I'll ask in the xviz project how to generate the files on windows.
Best regards
Matthias

[2019-05-13 17:27] jruddell commented on #299
Thanks, I was able to verify the updated code is pulled in!

[2019-05-15 18:05] jlisee commented on #287
@Pessimistress any idea on addressing this?  You mentioned offline you thought it could be done by tweaking a shader parameter or maybe by adjusting the camera?

[2019-05-17 18:41] twojtasz opened #330 "Double-clicking in viewport multiple times does not work"
Double-clicking the first time centers and zooms, but subsequent times appears to go bad

[2019-05-17 18:42] twojtasz commented on #330
This can be seen just double-clicking here https://avs.auto/demo/index.html

[2019-05-20 18:04] twojtasz commented on #307
@pkulijing thanks for the update that it works with newest version.  @jack-wolfs can you try again?

[2019-05-22 07:19] tkt028 commented on #256
My workaround solution:
- In the file [1], the function  _getViewState() calculates the parameters _trackedPosition_ (longitude, latitude, bearing) which tells the Camera where to focus. By making change in this entry point, I can resolve this problem.

[1] avs_visualizer/modules/core/src/components/log-viewer/core-3d-viewer.js

[2019-05-22 07:19] #256 closed

[2019-05-22 11:34] tower111 opened #332 "Can I run this client remotely on the server?"
Can I run this client remotely on the server, if I need to set it up?
thank you.

[2019-05-23 04:31] jlisee commented on #332
Since this is a web application you can server it from a remote server.  In that case what you have to take into consideration is browser security settings.  If you serve the application over HTTPS then your XVIZ server will need to have a SSL websocket connection, the requirement is dropped if you are using HTTP.

[2019-05-23 11:01] tower111 commented on #332
This is the case, my xviz server can provide data stream to streetscape.gl. I am now running streetscape.gl on the server, remotely only through the browser without having to run other programs. Can this be done? If you need to set it up

[2019-05-23 13:26] tower111 opened #334 "when i run yarn build Cannot find module '../aliases'"
[root@localhost website]# yarn
yarn install v1.15.2
[1/5] Validating package.json...
[2/5] Resolving packages...
success Already up-to-date.
Done in 0.74s.
[root@localhost website]# yarn build
yarn run v1.15.2
$ ./scripts/build.sh
[1/5] Validating package.json...
[2/5] Resolving packages...
success Already up-to-date.
/root/AutoDrive/streetscape.gl/website/node_modules/webpack-cli/bin/cli.js:74

[2019-05-24 11:00] pkulijing opened #336 "first item in each row of table primitive is always wide"
I have a 8-column table. The data is rendered correctly, but the first item in each row is always wider than those in other columns, even if it's empty. I was unable to find any setting that can avoid this. Is this expected behavior?
![image](https://user-images.githubusercontent.com/8855474/58323230-f50b7700-7e55-11e9-84d3-08aa6b30cefc.png)

[2019-05-29 06:14] walter-grace opened #337 "Mapbox token issue"
Hey there, I am having difficulty placing my Mapbox token to get access to the API, the instructions link in the get-started isn't working either.

I tried creating an  .env*.local file and created MAPBOX_TOKEN = _MYTOKEN_ then when to app.js ...
 <LogViewer mapboxApiAccessToken={process.env.MAPBOX_TOKEN}...
 but the process.env isn't reading; maybe something on my end? Thanks for the help

[2019-05-30 09:02] YunjieYu commented on #282
hi, how do you change the color theme?

[2019-06-05 04:58] twojtasz commented on #334
@tower111 pull down the latest.  We have moved to a new module to manages what `aliases` was doing previously.

[2019-06-05 05:01] twojtasz commented on #332
The example applications are Single Page Applications, so you can host the files remotely but eventually you have to access the web application in a browser.

It is not clear to me what you want to achieve.  Do you want to literally run the web application on the server, or just have it hosted on a server but connect to it via a web browser?

[2019-06-05 05:05] twojtasz commented on #321
@MatthiasThDs  You should not have to copy the files over if you are using the instruction for the quick start.  The script `./scripts/run-kitti-example.sh` should run the conversion and then start the XVIZ server.

Then in **streetscape.gl** you do have to run `yarn start-streaming-local.
Running `yarn start` won't connect to the local server i believe which is why you probably copied them over.

[2019-06-05 05:07] twojtasz commented on #337
I see the env var `const MAPBOX_TOKEN = process.env.MapboxAccessToken; // eslint-disable-line` in the code not **MAPBOX_TOKEN**

Could you try `export MapboxAccessToken="...."`

[2019-06-05 18:06] walter-grace commented on #337
Roger that, I actually just went into constants and added my token as a string, and replaced process.env. That worked for me.

[2019-06-05 18:06] #337 closed

[2019-06-09 05:16] tower111 commented on #332
Sorry, my English is not very good.
I was trying to run on the server only by the browser.
already solved. It is a problem with my firewall. thanks

[2019-06-11 16:21] jefftam23 opened #344 "Indicate to users when there is no data for an Declarative UI plot to display"
Can possibly indicate this by graying out the chart background and adding a 'No Data' label in the middle.

[2019-06-13 10:13] sivakanth1989 commented on #282
I added a toggle button and based on change, am switching between dark and light theme by maintaining the theme URL in the state like below.

`constructor(){
    super();
    this.state = {
      mapStyle: '',
      settings: {
        switchTheme: false
      }
    }
  }
_onSettingsChange = changedSettings => {
    if(changedSettings.switchTheme){
      this._Dark();
    } else {
      this._Ligh

[2019-06-13 10:22] sivakanth1989 opened #345 "How to change lidar points color"
Am trying to change the color of lidar points in below way but it's not taking effect in the front end. All points color are showing in black. If I change 'point_color_mode' to 'elevation' then different colors are coming for points. I want to make all the points in the same color. Is it possible?

` const xviz_style = {
      '/tracklets/objects': [{
        name: 'highlighted',
        style: {f

[2019-06-13 10:38] sivakanth1989 commented on #321
First, you have to signup in https://www.mapbox.com/
Then go https://account.mapbox.com/access-tokens/ and create a token.
Copy and add it in the constants.js file or directly pass to LogViewer like below.

`<LogViewer {other_props} mapboxApiAccessToken="generated_token" />`

Hope this will help you.
Thank you

[2019-06-13 11:25] sivakanth1989 opened #346 "Add left side and right side view of vehicle"
Can anyone suggest, how to add left side view and right side view of a vehicle?

Thank you.

[2019-06-13 15:42] Rastalamm opened #347 "Broken link for getting started insructions"
On [this page](https://github.com/uber/streetscape.gl/tree/master/examples/get-started), there is a link to "Instructions for running this application" that points to a [dead link](https://github.com/uber/streetscape.gl/blob/master/examples/get-started/docs/get-started/xviz-viewer.md).

[2019-06-13 20:20] jlisee commented on #347
@Rastalamm this is probably a good getting started task there is some content in  `docs/get-started` that could be linked to instead?

[2019-06-13 21:09] Rastalamm commented on #347
👍 - [PR created](https://github.com/uber/streetscape.gl/pull/348)

[2019-06-14 20:01] #347 closed

[2019-06-17 11:41] arn335577 opened #349 "How to change framebuffer"

[2019-06-18 20:37] jefftam23 opened #350 "Documentation for connectToLog opts argument is incorrect"
When using the `connectToLog` function, the [documentation](https://github.com/uber/streetscape.gl/blob/master/docs/api-reference/connect-to-log.md) mentions an `opts` property called `component` (note the lowercase 'c') but the [code](https://github.com/uber/streetscape.gl/blob/master/modules/core/src/components/connect.js#L26) references `Component` (uppercase `C').

Not sure whether you'd want

[2019-06-19 05:29] jlisee commented on #350
I would fix the docs since this is a public API and we want to keep that stable.

[2019-06-19 21:33] Rastalamm commented on #266
@johnwlambert - Can you clarify which page(s) the below two links are referenced from?

https://avs.auto/docs/api-reference/xviz-file-loader.md
https://avs.auto/docs/get-started/mapbox-tokens.md

As for the original broken link issue - I just created [a PR](https://github.com/uber/streetscape.gl/pull/351) to fix that.

[2019-06-20 08:44] sivakanth1989 commented on #307
Am able to see points in the new version. One thing here, lidar point color am able to give in the playground, but in the get-started application it's not working.

[2019-06-21 17:17] twojtasz commented on #349
@arn335577 I really need to have more information that just a title.

[2019-06-21 17:22] twojtasz commented on #346
It is not completely clear what you are trying to achieve.
We have some documentation how to display 2 logs.  This creates 2 viewports with different data sources but synchronized controls and camera.  https://avs.auto/#/streetscape.gl/advanced-topics/display-multiple-logs?section=synchronized-cameras

If you just want an additional 3d view from the same data, you should be able to create that usi

[2019-06-21 17:44] twojtasz commented on #345
Can you try here: https://avs.auto/playground/

Setting the color in the *metadata* here works for me.  Setting the color on the object does not seem to work :(

[code]

[code]

[2019-06-21 17:45] twojtasz commented on #336
@Pessimistress Might this be related to how we handled titles in this component?

[2019-06-23 05:00] bcwingnut opened #354 "How can I set the serverUrl when running?"
If I run multiple xviz servers and want to start a streetscape webserver for each one, how can I do it without creating multiple log-from-stream files?

[2019-06-23 05:52] wx9698 opened #355 "kitti stream example on headless cloud machines"
Hi team,

I am trying to run the kitti stream example on a headless cloud machine. This is what I followed:
[code]

Both server and client have successfully started but I only see an (almost) empty page when I tried to connect to CLOUD_MACHINE_IP:8080.

Everything works fine on my local machine with a browser page popping out when launching the client.

Then I tried to find out what happened. I us

[2019-06-25 18:25] Pessimistress commented on #336
I'm looking into this.

[2019-06-25 23:06] #350 closed

[2019-06-26 03:46] wx9698 commented on #355
solved

[2019-06-26 03:46] #355 closed

[2019-06-26 21:42] amazonfx commented on #330
Wanted to follow up and see if there are plans to address this?

[2019-06-26 23:57] jruddell opened #357 "Deck.gl assertion failed uncaught exception is crashing the UI when specifying a customLayer"
Hi, I spent a chunk of time digging into what was happening. For some context I'm rendering DeepMap elements into the UI via the `customLayers` prop on the `LogViewer`. I followed the [documentation here](https://avs.auto/#/streetscape.gl/advanced-topics/add-custom-3d-layers?section=render-custom-map-layers) to add a new layer (i.e. `new GeoJSONLayer`). However, I noticed that sometimes a really o

[2019-06-27 02:32] kkailiwang commented on #74
When is ROS support expected to be available?

[2019-07-02 17:18] jruddell commented on #357
So, did a lot more debugging... ROS's messaging is socket based, which is non-deterministic. Sometimes messages would come out of order (this is why it was seemingly random), if a message with an older timestamp is passed, the layers reinitialize.

First fix is on my side to make sure the timestamp is a future time from the last message. However, the bug on the streetscape side prevents me from re

[2019-07-08 18:52] twojtasz commented on #334
The *ocular-dev-tools* module handles this now automatically that we no longer have to maintain a separate list. *master* is working.

[2019-07-08 18:52] #334 closed

[2019-07-08 18:55] #349 closed

[2019-07-08 18:56] twojtasz commented on #349
@arn335577 Please reopen a new issue with more detailed information

[2019-07-08 19:03] twojtasz commented on #354
@bcwingnut You can use our test app https://github.com/uber/streetscape.gl/tree/master/test/apps/viewer

This application passes the URL path in the request.  This allows you to access multiple logs from a single **@xviz/server**.

Unlike our previous simple server that hosted only 1 set of data, the new module can handle multiple data sets. See https://github.com/uber/xviz/tree/master/modules/ser

[2019-07-08 19:10] twojtasz commented on #357
@jruddell  Thanks for digging into this and great find on the out of order root cause.

Are you connecting directly to a ROS instance or are you using the **@xviz/ros** package?  Any details on this that I could get to repro would be very useful. (roslibjs or other?)

I would have thought that if a message comes in out of order (but the timestamp is still valid) it should just be inserted into our

[2019-07-08 19:10] twojtasz commented on #346
@sivakanth1989 Let me know if the above is useful or not.

[2019-07-08 19:51] twojtasz commented on #344
@Rastalamm Is this related to your work?

[2019-07-08 19:52] twojtasz commented on #332
Glad you solved it!

[2019-07-08 19:52] #332 closed

[2019-07-08 19:53] twojtasz commented on #330
@Pessimistress Do we know where the root cause it?
@amazonfx Yes, this should be fixed.

[2019-07-08 20:36] Rastalamm commented on #344
@twojtasz - Yes

[2019-07-08 22:12] #354 closed

[2019-07-09 18:29] jruddell commented on #357
@twojtasz  Yes, it is running in `live` mode. My assumption is that the layers are invalidated because of timing, but i haven't actually validated that because debugging compiled source code is quite annoying haha. Seems like whatever is doing this invalidation is not taking into account the customLayers. They definitely are registered though in the sense that deck.gl is trying to reinitialize the

[2019-07-10 08:30] gerardsimons opened #360 "Rendering kepler.gl like heatmaps"
Hi there,

We would like to plot something like a heatmap on our maps. Imagine something like a probability distribution rather than a discrete point in time. The beautiful examples shown at [kepler.gl](https://kepler.gl/) would be perfect.

I talked about this at the Slack channel with @twojtasz where he mentioned this would be an interesting question / challenge. If I understand correctly kepler

[2019-07-12 01:46] jlisee commented on #360
What is the data source you want to use to drive the heat maps?  Could you use an image (uber/xviz#415) displayed in a flat plane with alpha providing the transparency where there is no data?  Maybe with support for "raw" RGB images?

[2019-07-12 02:00] jlisee commented on #293
For the protocol level issue see uber/xviz#415

[2019-07-12 02:23] jlisee commented on #345
I was able to use `colors` with an array that matches the given size:

[code]

According to the style spec point styles only apply when applied at the stream level not went sent with the object.  I think we should consider fixing this.

[2019-07-12 08:51] sivakanth1989 commented on #346
@twojtasz Thank you for the reply.
My question is, right now we have 3 view modes: Perspective, top-down and Driver. Now I want to add Left view and Right view to see the vehicle from the left side and right side.

Could you please help me.

[2019-07-12 12:09] gerardsimons commented on #360
Yes that would already help a lot. The data actually comes from a predictive model that outputs probability distributions (gaussian mixture model). We could pre-rasterize it into an image and send that over for now.

[2019-07-15 02:08] iosefa opened #362 "layer stuck on awaiting state"
Hello,
I have an issue that seems to be related to #357, where I cannot seem to add custom layers. I have added created a point cloud layer as:

[code]

and importing it in `app.js` , and adding it to customLayers as:

[code]

console.log of the layer reveals:

[code]

If I am going about adding a point cloud in the wrong way, please advise. Thank you!

[2019-07-15 02:09] iosefa commented on #362
The funny thing is that this seemed to be working the day before yesterday...

[2019-07-15 09:45] gouchaoer opened #363 "draw results in the video stream"
hi, I want to send live video stream or video file into the browser and draw some pictures on every frame to show the perception result. Of course the perception result is sent from the server.
How to implement this via uber's avs tools?

[2019-07-15 14:01] jcready opened #364 "SignLayer is displaying black instead of the image provided"
Using `@streetscape.gl/layers@1.0.0-beta.15` we're still seeing black being rendered in place of the image. Related to #265.
![sign-layer](https://user-images.githubusercontent.com/358876/61221823-4cf08c80-a6e7-11e9-9baf-7c51c8e3bca9.gif)

[2019-07-16 13:40] jlisee commented on #363
We don't have direct support for this right now at a high level what you want to render the 3D world from the perspective of the camera image you are sending, then draw the image behind that world so it overlays on top of it.

Concretely you would:
 - Send the images as XVIZ image stream
 - Send what you want to draw as XVIZ streams
 - Render the image to a full screen Quad
 - Adjust the camera pa

[2019-07-16 15:49] gerardsimons commented on #360
Actually we decided to use the ColumnLayer with a point primitive which was quite easy to do as well. I can share a screenshot once it's pretty

[2019-07-18 08:09] didibaba opened #367 "WebSocket latency is large in live mode"
We are trying to provide the xviz server live data, including async data from different sources. However, the latency in streetscape view is up to 2 seconds.

We are wondering if this is normal situation?

Thanks a lot.

[2019-07-22 03:34] lodian commented on #367
Hi! I can already run this project with offline data。And now I want to build a real-time visualization platform.Can you tell me where should I start?
Thanks very much.

[2019-07-22 03:34] lodian commented on #367
Hi! I can already run this project with offline data. And now I want to build a real-time visualization platform. Can you tell me where should I start?
Thanks very much.

[2019-07-22 14:02] jlisee commented on #367
Can you describe how much data you are sending?

Some tips to give you the best possible performance when operating live:

 - Send data in the GLB format, it parses best
 - Make sure you have web workers turned on, and try starting with 4
 - Adjust the time window of the buffer to ensure you don't run out memory (check in the chrome task manager)

Things we are thinking looking to improve this:
 -

[2019-07-22 14:38] didibaba commented on #367
@jlisee
I use default configuration of the example get-started. Is this correct? I have 16GB memory, so it's enough I think.
[code]

In the server, I found encodeBinaryXVIZ is very time consuming. The latency is even smaller when I comment the relevant encodeBinaryXVIZ code, which is as follows.
[code]
In addition, I found the lag was much larger when I gave the mapOrigin data, which would connect

[2019-07-24 07:41] Questionboy opened #370 "Can streetscape.gl listen to mapbox's own event"
hi,
I make an underground parking map by geoserver. And I load the map through change the  MAP_STYLE. I want to click the map and get the parking space information from map.
I see that streetscape.gl use the react-map-gl to load map. In module of components/log-viewer/core-3d-viewer.js, the load event of StaticMap can get the map instance of mapbox. So I register mapbox's own event in here.  Just

[2019-07-25 09:29] arn335577 commented on #349
Above query were to enquire for any possible way for controlling number of Lidar points frames rendered in Streestcape.
This got resolved by handling "points" and "colors" in xviz layer.

[2019-07-25 11:33] arn335577 opened #371 "Table style breaks while resizing fastly inside floating panel."

[2019-07-25 21:10] Rastalamm commented on #344
Fixed in [361](https://github.com/uber/streetscape.gl/pull/361)

[2019-07-25 21:10] #344 closed

[2019-07-30 18:31] dks333 opened #373 "Panel is undefined in xviz-panel.js"
Any advice?
![Error](https://user-images.githubusercontent.com/52273168/62155341-73085600-b2bd-11e9-8dfa-0fb7a19d5570.png)

[2019-07-30 18:31] dks333 commented on #373
Local web page is blank due to this error.

[2019-07-31 11:15] gtangxiaobo commented on #373
same problem

[2019-08-01 04:41] leicao-me commented on #373
same problem

[2019-08-01 17:01] dks333 commented on #373
In xviz-panel.js(path: streetscape.gl/modules/core/src/components/declarative-ui/), change the lines at the bottom to below. Then, run "yarn start-local"

`const getLogState = (log, ownProps) => {
  const metadata = log.getMetadata();
  const panel = metadata && metadata.ui_config && metadata.ui_config[ownProps.name];
  return {
-    uiConfig: panel.config || panel
+    uiConfig: panel && panel.co

[2019-08-01 17:03] dks333 commented on #373
In xviz-panel.js(path: streetscape.gl/modules/core/src/components/delarative-ui/), change the lines at the bottom to below, then run ""yarn start-local".

const getLogState = (log, ownProps) => {
  const metadata = log.getMetadata();
  const panel = metadata && metadata.ui_config && metadata.ui_config[ownProps.name];
  return {
    uiConfig: panel && panel.config || panel
  };
}

[2019-08-03 13:13] enricoschroeder opened #375 "Map layer not being displayed with flat camera angles"
I've noticed that the MapBox map layer disappears in the perspective mode when moving the camera to a flat angle. This happens with all the examples, even the official ones (https://avs.auto/playground/ or https://avs.auto/demo/index.html). I tried with recent Chromium and Firefox browsers.

Is this by design or is it a bug in streetscape or the map layer?

[2019-08-03 16:52] Pessimistress commented on #375
Mapbox only support pitch angles up to 60.

[2019-08-06 07:10] user-Mrh opened #376 ""get-started" error on virtual machine"
hi guys,
I encountered the following error while running the demo:
![1](https://user-images.githubusercontent.com/26916360/62518482-407dd080-b85c-11e9-951e-63ac1ccda0bb.png)
![2](https://user-images.githubusercontent.com/26916360/62518485-42479400-b85c-11e9-9675-65a8983abc68.png)
Has anyone come across this problem or can someone give me some guidance?

[2019-08-09 19:09] ShanmukhaManoj11 commented on #376
I encountered the same on a virtual machine. Did you find any solution for this? Does the problem occur only when run on a virtual machine?

[2019-08-09 22:17] leicao-me commented on #376
I got the same problem, but when I used the release 1.0 Beta 5, it works: https://github.com/uber/streetscape.gl/releases/tag/v1.0.0-beta.5

I guess it's a bug for the current versions.

[2019-08-09 22:18] leicao-me commented on #373
I got the same problem, but when I used the release 1.0 Beta 5, it works: https://github.com/uber/streetscape.gl/releases/tag/v1.0.0-beta.5

I guess it's a bug for the current versions.

[2019-08-11 06:53] sandeepmeenuga opened #377 "The system cannot find the path specified. error Command failed with exit code 1."
$ yarn bootstrap                                                                                                                                                                                 yarn run v1.13.0                                                                                                                                                                                 $ yarn && ocul

[2019-08-12 17:35] twojtasz commented on #375
yeah, it's not something we can fix as it's a mapbox issue.

[2019-08-12 17:35] #375 closed

[2019-08-12 17:39] twojtasz commented on #377
I'd suggest removing the `package-lock.json` file and trying again.  I'm not sure what path is specified, and since it didn't mention the yarn debug log file, i'm not sure where else to look to address this.

[2019-08-12 17:47] twojtasz commented on #376
@user-Mrh could you try running the latest master with `yarn start-local` or `yarn start-streaming-local`?

There was a fix but I have not published the latest just yet, will do so today.

For references, `start-local` uses the local source code rather than the published packages.
`start-streaming-local` use the local source code but also will load XVIZ data from a local server @ port 8081 for the

[2019-08-12 21:05] twojtasz commented on #367
@didibaba possibly related, but we have noticed cases where the websocket message processing is being starved by the animation loop.  We are working on a solution.  I'll reach out so we can verify with you if they are related to your problem.

[2019-08-12 21:06] twojtasz commented on #370
@Pessimistress any suggestions?

[2019-08-12 22:04] Pessimistress commented on #370
We disable pointer interaction on the map. You can do something like

[code]

[2019-08-13 01:30] user-Mrh commented on #376
@twojtasz Thanks for your reply.

[2019-08-13 02:28] Questionboy commented on #370
Thank you for your reply. As you say, I change the StaticMap to InteractiveMap and try to add the onClick event in InteractiveMap. However, I cann't get any return from onClick event in InteractiveMap. It must be intercept by the click event in deck.gl.

[2019-08-13 16:17] twojtasz commented on #376
@user-Mrh did those suggestions work?

[2019-08-14 01:43] user-Mrh commented on #376
Yes, now I've downloaded the latest version of master and it works fine.

[2019-08-14 21:47] jon-tri opened #380 "Chart labels are cut off"
When hovering over a data point inside a chart, the label gets cut off as it nears the right edge of the panel.

[2019-08-15 08:06] #376 closed

[2019-08-16 18:44] twojtasz commented on #367
https://github.com/uber/xviz/issues/502 related

[2019-08-22 14:17] amolskh opened #385 "Polylines are distorted in Streetscape compared to other Visualization tool like Kepler or Geojson.io"
I am trying to visualize below Geojson in Streetscape.gl
`{
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {
        "stroke": "#FFFF00",
        "stroke-width": 2,
        "stroke-opacity": 1
      },
      "geometry": {
        "type": "LineString",
        "coordinates": [
                             [
                    -117.1365798525,

[2019-08-25 13:22] amolskh commented on #385
@twojtasz any thoughts about this issue/ behaviour

[2019-08-25 14:46] Pessimistress commented on #385
This might be due to xviz parser packing positions into a Float32Arrray. Most of our data is vehicle relative. Lnglat positions would lose precision in 32 bit.

[2019-08-26 16:08] amolskh commented on #385
Yes I m using JSON format . should I move to GLB ?

[2019-08-26 16:46] amolskh commented on #385
I moved to GLB dont see any difference .. Could it be that AVS supports higher resolution thank Kepler and other frameworks?

[2019-08-28 02:23] amolskh commented on #385
I am not sure if this fix is real issue . Because in order to test I pasted same lat long in direct json generated. So Xviz parsing dosent come into play. I simply edited json file created post xviz manually and put the coordinates

[2019-08-28 10:48] amolskh commented on #385
Ok thanks I will try to test it .. Is this merged into master main release or do I need to take any specific version or using streetscape 1.0 release will work for me ?

[2019-09-06 07:59] hjkl7777 opened #389 "tracklets icon label act as a rectangle"
according to  xviz and streetscape.gl,the tracklets icon sometimes act as a white rectangle,do not show the original font icon

[2019-09-06 08:00] hjkl7777 opened #390 "my .obj can not show in this way ,but the website-demo does"
my .obj can not show in this way ,but the website-demo does

[2019-09-13 10:32] VijeetBenni commented on #321
In contstants.js file where to add the access token?

[2019-09-13 10:34] VijeetBenni commented on #321
With out the mapbox,

In contstants.js file where to add the access token?

[2019-09-13 10:37] VijeetBenni commented on #321
Even if Mapbox isnt available , streetscape should visualize the lidar points and the bounding boxes right?
I am not able to see them. But I am able to see acceleration, velocity, wheel values changing when streaming.

[2019-09-13 22:03] jruddell commented on #357
@twojtasz Any update on this? Its a frequent bug that requires a restart of the system, would like to see what we can do to get it fixed :) Thanks!

[2019-09-14 09:38] sivakanth1989 commented on #321
WIthout map box token streetscape won't show map and lidar data.
You can find constants.js file in **/streetscape/examples/get-started/src/**

[2019-09-16 07:23] VijeetBenni commented on #321
Thanks.

Does Kitti dataset  providing the geo coordinates to mapbox?
I am running the kitti converter to convert kitti data into XVIZ format and using it display in streetscape.

For mapbox token I just set the environment variable instead of adding it in constants.js file, will it work?

[2019-09-16 08:46] VijeetBenni commented on #321
Tried providing token in constants.js, no luck yet.

[2019-09-16 08:50] VijeetBenni commented on #321
While creating the token, what all scopes need to select in secret?

[2019-09-21 05:41] karanchawla opened #391 "Visualizing flights"
How would one go about extending this to visualize 3d flight routes for drones?

[2019-09-26 16:32] #391 closed

[2019-10-08 18:43] Qi2013 opened #399 "The logviewer does not update the scene correctly in play mode when it reaches the edge of the buffered time range."
When it reaches the end of the buffered time range, the logviewer starts to show the different streams one after another. It should wait for frames is loaded and update the whole scene. Or it should update the stream as the data come but keep the other part of the scene unchanged.

[2019-10-15 02:42] hookex opened #400 "Uber cuts 350 employees in latest round of layoffs."
Did this event affect uber web development team?

[2019-10-15 16:12] pranaabdhawan opened #401 "Unable to run xvix kitti demo"
Trying to run the Kitti demo with:
`./scrtipts/run-kitti-example.sh`
Getting the following error on Streetscape:
[code]
Am I missing something?

[2019-10-15 17:05] #401 closed

[2019-10-17 18:44] twojtasz commented on #400
This has had no affect on this project. 👍

[2019-10-17 18:44] #400 closed

[2019-10-25 02:05] EliotCao opened #402 "how to show HD map"
I have noted that AVS office website have some more exquisite images as follows,
[usecase-view](https://avs.auto/images/usecase-view.jpg)
[usecase-triage](https://avs.auto/images/usecase-triage.jpg)
[usecase-debug](https://avs.auto/images/usecase-debug.jpg)
Most importantly, it shows more refined environmental information, mainly map information, which can show specific lanes instead of just a roa

[2019-10-25 09:45] afei26579 commented on #321
i have the same question. it can not find local file . this is my config
![图片](https://user-images.githubusercontent.com/56626114/67561114-d552e480-f74e-11e9-8fe1-01072ccba421.png)
and the bower show:
![图片](https://user-images.githubusercontent.com/56626114/67561170-ea2f7800-f74e-11e9-9d5d-9e018e234b4c.png)

How to do ？

[2019-10-29 13:18] HemaZ opened #404 "how to run on 0.0.0.0 instead of localhost"
hello,

I wish to run the viewer-app on 0.0.0.0 instead of localhost so I can be able to access it from a remote machine.

how can I configure this?
thank you

[2019-11-07 07:50] EliotCao commented on #280
I have downloaded a .obj model and useed it for the ego car in website demo, but it didn't work. and I have test others .obj file, so it.
The .obj file is here [bugatti](https://static.free3d.com/models/1/6e48z1kc7r40-bugatti.zip)

[2019-11-11 14:37] YilmazOrkun opened #408 "Is it possible to visualize detected lane lines?"
Does anyone have experiences on visualizing detected lane lines?
What would be a recommended approach to achieve it?

[2019-11-11 15:21] twojtasz commented on #408
@YilmazOrkun You should just be able to visualize them as polylines? This is how we visualize i

[2019-11-11 15:29] twojtasz commented on #404
I normally run the viewer app in dev mode via webpack.  You would have to either fine a way to do that using webpack, or build the bundle and host the files for the webapp using some simple HTTP server you can configure.  Since it is a SIngle Page App that should be straight forward for any HTTP server.

For non-production use, see https://webpack.js.org/configuration/dev-server

[2019-11-11 15:29] #404 closed

[2019-11-11 15:33] twojtasz commented on #402
@EliotCao It depends on your data.  A lot of autonomy mapping data can be offline & in some custom format, or it could come from the vehicle.  If from the vehicle, you could use XVIZ.
If offline it depends on the data format and how easy it is to convert to something useful.  I do have a GeoJSON example I need to post, that passes a custom deck.gl layer.

Those are the simple cases.  Mapping quick

[2019-11-11 15:39] twojtasz commented on #399
It should wait for new data, i'll have to verify.  If you have a screen capture it would be useful (even if just mock data).

One part of **keep the other part of the scene unchanged** is worth noting.  XVIZ has a config **TIME_WINDOW** that defaults to 400ms.  It is a global time window for how long data is shown before we need another sample, otherwise we don't show since we don't know if it is

[2019-11-11 15:40] twojtasz commented on #390
This is not very useful in I cannot understand what is working and what is not.

Ideally you could provide the OBJ file.  A fork of the code with the changes you made so I can review.  And a screen capture showing how it appears to you with a description of how you expect it to look.

[2019-11-11 15:41] twojtasz commented on #389
It may be that the object's label is changed or unknown.  In order to debug this you would have to look at the state at the timestamp when this occurs and verify the object's state.

Ideally we would have a widget that allows you to see such data, but we haven't built that one yet :(

[2019-11-13 08:14] lgmcode opened #409 "Can't run website-demo"
Hi, I try to run website-demo following the steps in README.md, but it failed and the firefox console says `TypeError: links is undefined transform.js:34:19`, However, when I checkout the old version by command `git checkout 8499a1a`, it worked as expected. Is there a bug in the newest version?

[2019-11-15 10:08] lgmcode opened #410 "Primitive type icon is not shown if the metadata is generated by XVIZMetadataBuilder"
Hi, I try to run website-demo, and it works well if I just use the KITTI dataset. But when I use XVIZMetadataBuilder to generate a metadata message myself, the primitive type icon will not display. I console.log the meta message and compare it with the meta part of `1-frame.glb`, found that the `scalar_type` is in upper case in the generated one and lower case in the `.glb` file. Also found in the

[2019-11-18 01:40] EliotCao commented on #402
appreciate it so much.

[2019-11-25 17:18] jorisw opened #411 "utils/view-port.js overwrites transitionDuration when not in firstPerson viewMode"
Hi,

Today I was trying to utilize deck.gl's `transitionDuration` option for view states, to be able to switch view mode with a nice camera transition. However my setting wouldn't stick, and tracing the option through the LogViewer source, I found that the setting is being overwritten here:

https://github.com/uber/streetscape.gl/blob/6a3549eba1ff122fe2135c87d576ac4dbe6ee255/modules/core/src/utils

[2019-12-02 15:40] speculees commented on #401
Same here when i try to connect to my own converted data (KITTI 2011_10_03
2011_10_03_drive_0042_sync )

[2019-12-02 16:11] speculees commented on #401
When I load provided glbs form example at https://raw.githubusercontent.com/uber/xviz-data/master/kitti/2011_09_26_drive_0005_sync/0-frame.json the parser works

[2019-12-05 19:05] twojtasz commented on #411
@Pessimistress any idea why we would force transitionDuration here?  Does it cause problems with camera in any way?

[2019-12-05 19:06] twojtasz commented on #410
@lgmcode This seems to be a problem in the XVIZ Builders.  Let me take a look.

[2019-12-05 19:07] twojtasz commented on #409
someone else pointed this out.  Let me get a a fix out and publish an update.

[2019-12-06 04:56] WesleyYue opened #412 "Support custom transform on meter-widget"
I would like to have the ability to reverse the meter-widget hand direction such that positive points to the left and negative points to the left. I was trying to implement this by exposing the [getTransform()](https://github.com/uber/streetscape.gl/blob/master/modules/core/src/components/hud/meter-widget.js#L153) as a parameter so that it can be substituted out for custom transform attributes.

H

[2019-12-06 18:45] twojtasz commented on #412
@WesleyYue you should be able to simply run `start-live-local` .   The `local` part here means the local streetscape and does this via some webpack modifcations.

[2019-12-06 18:55] twojtasz commented on #410
@lgmcode Actually, we did change enums to UPPERCASE.  So the builder is correct, the website-demo is simply not up to date.  I will change the demo code to apply `.toUpperCase()` to the type.

[2019-12-10 02:42] twojtasz commented on #409
#414 414

[2019-12-10 13:22] twojtasz commented on #377
Closing this for now. If it is still a problem please re-open.

[2019-12-10 13:22] #377 closed

[2019-12-10 13:23] twojtasz commented on #357
I will try to get to investigate out of order data, we don't have many test cases for this right now.

[2019-12-10 13:27] twojtasz commented on #410
This fix was addressed in https://github.com/uber/streetscape.gl/pull/414

[2019-12-10 13:27] #410 closed

[2019-12-10 16:48] jorisw opened #415 "Cannot seen to pre-set viewOffset"
Whenever I pass a pre-set `viewOffset` to `<LogViewer />`, like so:

[code]

... the `y` setting is ignored until I drag the viewport, while `bearing` is picked up and reflected before I do anything.

All I can find to cause this, is the blind overwriting of `offset` in `core/src/utils/viewport.js` :

This happens to me when running either apps in `test/apps/viewer/` and `examples/getting-started/

[2019-12-10 17:15] jorisw commented on #415
I've debugged the block of code I'm citing above and it's not the cause, in such that the offset.x and offset.y are retained past that block. A console.log reveals the values that I'm passing with `viewOffset`, yet the viewport only reflects offset on drag.

[2019-12-10 17:31] jorisw commented on #415
Fixed if I pass `width` and `height` properties with our `initialViewState` to match the viewport, e.g. `window.innerHeight`, `window.innerWidth`.

[2019-12-11 08:53] Portur commented on #357
I got this bug with the following, everytime,
This happens when toggling the same layer or removing one and adding another

[code]

[2019-12-12 10:38] jorisw opened #418 "Change of name property in a view mode causes full re-render of Deck view"
This took me a long time to debug:

When the `LogViewer` receives a new `viewMode` prop, the `name` of the viewMode is used by some deeply nested code in Streetscape, to determine the `id` of the map view. This `id` seems to be the deciding factor in whether the existing map view is retained.

This produces a degraded user experience, as switching `viewMode`s now means that all the tiles on screen

[2019-12-13 08:38] jorisw commented on #411
Upon editing `viewport.js` to stop overwriting the `transitionDuration`, it appears that Deck.gl makes React crash writing the transition updates to viewState. I've been trying to resolve this but I can't seem to, without disabling the view state updates that are part of the transition entirely. I can't figure out if this is a Streetscape problem or a Deck problem.

[code]

[2019-12-16 09:08] marph91 opened #420 "Problem with object popup"
Hi,

I'm trying to display a popup when an object is selected. The `LogViewer` looks exactly like in https://github.com/uber/streetscape.gl/blob/master/examples/website-demo/src/map-view.js. First try was with a simple `renderObjectLabel`, like:
[code]

However, nothing happens when the object is clicked. A breakpoint in the function also doesn't get hit. Is there any setting missing or requiremen

[2019-12-16 09:38] lgmcode opened #421 "Set custom xDomain to XVIZMetric"
Hi, I'm trying to use streetscape.gl in realtime mode. My server will produce a time series at 100Hz and the browser side plot this time series with a XVIZMetric (I directly use the website demo). I took a lot of effort to make all codes work properly. Now the problem is that, when the program runs for a long time, e.g., 20 minutes, the whole page stucks severely. But if I switch to the info or st

[2019-12-18 15:29] didibaba commented on #367
@twojtasz
Any progress made so far ?

[2020-01-06 08:41] kurdi89 opened #423 "yarn run v1.16.0 error streetscape.gl@0.1.0: The engine "node" is incompatible with this module"
running `yarn bootstrap` gives  `yarn run v1.16.0 error streetscape.gl@0.1.0: The engine "node" is incompatible with this module. Expected version ">= 10.16". Got "10.15.3"`
thnx

[2020-01-06 11:08] kurdi89 commented on #423
running `yarn add bootstrap@4.4.1`
then upgrading `npm && node && yarn`
have solved it
thnx

[2020-01-06 11:08] #423 closed

[2020-01-14 15:27] pgebhardt commented on #363
Hi,

are there still plans for this feature to implemented anytime soon? I am actively using streetscape for visualization of our vehicle data, and this feature is highly anticipated.

I am looking forward to read from you guys soon.

[2020-01-15 08:08] schroederen opened #424 "StreamSettingsPanel: Issues with Dynamic Stream Metadata"
Hi,

I'm trying to use the dynamic stream metadata feature introduced in [PR 359](https://github.com/uber/streetscape.gl/pull/359/commits).

However, if setting DYNAMIC_STREAM_METADATA to true in setXVIZConfig(), StreamSettingsPanel never updates to show any available streams, even though they are correctly displayed in LogViewer (it correctly shows static streams if DYNAMIC_STREAM_METADATA is fal

[2020-01-15 09:28] schroederen commented on #424
Ok, I did some debugging.

I found that if DYNAMIC_STREAM_METADATA is true, in componentWillReceiveProps the first if gets triggered a second time with the updated dynamic metadata and sets values=null. However, streamSettings does not change, resulting in the second if to be skipped and values to stay null, which in turn causes the render() method of the component to do nothing.
 https://github.c

[2020-01-15 09:40] schroederen commented on #424
I think in the original PR this logic was changed and it would thus work, however for some reason this change was then reverted back:

https://github.com/uber/streetscape.gl/pull/359#discussion_r301361366

[2020-01-21 12:24] didibaba opened #425 "Is it possible to connect the website-demo from the remote host in the same network?"
Is it possible to connect the webserver from the remote host in the same network?

What have tried tiil now is to webpack and create a server using 'python -m SimpleHTTPServer 8080', but unfortunately it failed.

[2020-01-22 03:49] WesleyYue opened #426 "CarMesh transparency"
Hi, I'm interested in setting the CarMesh to be translucent. I see that the CarMesh object takes a RGBA color field. However, it seems that the color is applied on top of a white body model. That is, I expected to see through the car if I set alpha to 0, but instead I actually see a white car.

[2020-01-26 13:50] #425 closed

[2020-02-04 07:31] didibaba commented on #402
@twojtasz Any progress made so far about the HD map? Is there any examples?

[2020-02-10 15:39] didibaba commented on #426
I have set the attribute 'color', but the car is always black. Do you have the same problem?

[2020-02-12 05:39] didibaba opened #427 "Car model color is always black"
I was using this to define a car model, but the color in the LogView is always black. The 'car.obj' I used was the one in the project.
[code]
When I use `export const CAR = CarMesh.sedan({  width: 2.2,  length: 4.5,  height: 1.5,  color: [180, 180, 200]});` to define the model, it is normal.

[2020-02-19 09:54] didibaba commented on #427
After mading some more tests, the problems are caused by deck.gl version 8.0.0.

There is also another bug that the "driver" view mode in streetscape.gl >= 1.0.3 wil crash caused by transform.js in model core.

[2020-02-23 11:33] zhuangli1987 opened #430 "lane-layer issue"
dasharray is not available for path-layer now. Please help to fix.

[2020-02-24 13:19] nwakkaf opened #431 "'Driver' view mode causes a crash, streetscape.gl versions 1.0.3 and 1.0.4"
Hello,

When trying to run streetscape frontend and switch to driver view, a crash happens once we start to move the camera with the message "Uncaught Error: failed to invert matrix".
This is maybe related to the upgrade of deck.gl (or other dependencies) in streetscape version 1.0.3 that have introduced this bug.

Can you please help with the fix, thanks!

[2020-03-04 05:53] didibaba commented on #431
#427

[2020-03-17 09:27] Orkunkizilirmak opened #432 "How to access web view with Docker"
Hi, I am trying to run the getting started examples from xviz and streetscape with two dockers. So far I have first run everything on my own pc to make sure that everything works. Then I have created docker container for xviz and ran it and visualize it with my local streetscape.gl web view through localhost:8080 (I have run "streetscape.gl/examples/get-started$ yarn start-streaming" and it works.

[2020-03-17 13:43] srikanth-kuriyala commented on #321
Anyone got the solution?

[2020-03-18 11:51] srikanth-kuriyala commented on #321
I placed the "data" folder inside the public folder and I tried in the below way, It's working.

import { resolve } from 'path';

const DATA_DIR = resolve(__dirname, "./data");

export default new XVIZFileLoader({
  timingsFilePath: `${DATA_DIR}/0-frame.json`,
  getFilePath: index =>`${DATA_DIR}/${index + 1}-frame.glb`,
  worker: true,
  maxConcurrency: 4
});

[2020-03-18 16:33] JscLee commented on #420
I also got the same issue. Having the center field of object could solve the issue.

The root cause is in xviz object and parser.
In `parse-xviz-stream.js`, the objects's vertices are parsed from features and stored into the typed array:
https://github.com/uber/xviz/blob/master/modules/parser/src/parsers/parse-xviz-stream.js#L481

However in `xviz-object.js` the vertices are checked by if it's nor

[2020-03-26 05:56] nalini0505 commented on #431
Hi, If I change streetscape version to 1.0.2 will it work?

[2020-03-27 12:22] KSaikishore opened #433 "how to start visualising from user given timestamp"
I want a certain time frame data to be visualised on streetscape.gl .i,e if xviz data is of length 14sec i wish to visualise the data only in range of [5, 12]sec.

[2020-04-04 12:44] didibaba commented on #431
@nalini0505
Yes, it is exactly what I have done.

[2020-04-06 04:48] srikanth-kuriyala opened #435 "set uniform color to all points"
I'm trying to set the uniform color to lidar points displayed.

Created an array and pushed the same color [255, 255, 0] in it using loop.
[code]
With approach it's mixing up with the red color also in the points.

Can someone suggest me where am doing wrong.

Thank you.

[2020-04-06 15:44] ibgreen commented on #435
You are probably leaving out the alpha value - colors are typically `RGBA`. Try:

[code]

[2020-04-07 05:00] srikanth-kuriyala commented on #435
Thanks a lot. It's working.

[2020-04-07 05:00] #435 closed

[2020-04-13 23:25] weidezhang opened #436 "question: data aggregation for visualization"
Hi I have a basic question. It seems the xviz format doesn't define timestamp for lidar or obstacles. The timestamp only exists for vehicle_pose.

How the street.gl understand how to visualize which lidar point cloud or obstales matched with which vehicle_pose ? Put int another word, when comes to visualizer(streetgl), how does it aggregates/synchronizes the streaming data and shows them simultane

[2020-04-14 16:41] jcready opened #437 "Lane Layer highPrecisionDash doesn't work when segment length is less than dash."
Enabling `highPrecisionDash` in the LaneLayer doesn't appear to handle segments which are shorter than the dash. The result is that no gaps are visible and a lane marker that should appear as dashed instead appears as solid.

![image](https://user-images.githubusercontent.com/358876/79250143-43e64480-7e4c-11ea-95a0-2d65e93bb5e9.png)

[2020-04-14 23:31] weidezhang commented on #436
close it since it is answered in slack.

[2020-04-14 23:31] #436 closed

[2020-04-20 20:26] twojtasz commented on #437
I have a reproducible test case locally now.  Investigating the fix

[2020-04-27 09:20] #402 closed

[2020-04-30 00:28] yujingz commented on #433
@KSaikishore I think an easy config would be just limiting the duration and start timestamp when you do loader config, eg, see here https://avs.auto/#/streetscape.gl/api-reference/loaders/xviz-stream-loader

[2020-04-30 13:51] bizmutolog1 opened #439 "Charts tooltip hidden"
Hi all,

I have a couple of series plots under the "Charts" tab, looks awesome, but I am having problems fixing tooltips (that appear when hovering above one of the plots). The tooltip title looks something like "/vehicle/speed : 78.93" but, since it is placed bottom-right of the plot and moves along with the mouse cursor, it gets cut/hidden when selecting/hovering above the most-right part of the

[2020-04-30 17:36] yujingz opened #440 "[Proposal] Adding options to tweak bufferStart time"
### Motivation
Currently, the stream loader has a fixed bufferStart time strategy which is
[code]
So whenever a user seeks to a particular timestamp, the app will start loading from either the log start time or half of the buffer length ago. While this gives an optimal user experience in a  network that is capable of transmitting large amount of data within an acceptable waiting time, it's a prett

[2020-05-01 23:44] #440 closed

[2020-05-06 04:36] heshiwen1989 opened #441 "I Do not Want To Use Mapbox, And I want to Set background Color, Can I Do this?"
I  hasn't  any map, I just want to display object, Lidar pointcloud and so on, but I don't Know that How to configure the main view's backgound color, e.g. the backgound color set #000

![2020-05-06 12-33-28屏幕截图](https://user-images.githubusercontent.com/28886748/81138877-282b1580-8f96-11ea-9897-aa1ba87a77af.png)

And I have configure the accessToken from mapbox wesite
![2020-05-06 16-29-18屏幕截图](h

[2020-05-06 09:12] soodla commented on #363
Hello!

Are there any updates on this feature?

[2020-05-06 09:19] #441 closed

[2020-05-07 07:10] heshiwen1989 opened #442 "mapBox style not stable"
(1) Normally, I Use mapBox dark-v9 style, just like below:
![图片](https://user-images.githubusercontent.com/28886748/81264852-b70e5f80-9074-11ea-8dae-bafd26b663e7.png)
(2) Sometime, I Get This Below, the setting style is not effective
![图片](https://user-images.githubusercontent.com/28886748/81264852-b70e5f80-9074-11ea-8dae-bafd26b663e7.png)

[2020-05-13 06:00] KSaikishore opened #443 "Issue with playing nuscenes data"
I have converted the nuscenes data(mini,Depreciated datasets) to xviz.But when i visualised that on streetscape.gl camera and lidar data were not getting visualised properly(data is dissapearing) most of the time.How do i rectify that

[2020-06-02 08:59] baker-Xie opened #446 "How to realize the bubble icon with bike/car ?"
Dear all, this is a question not a issue. I'm new to WebGL, and I want to know how this repo realize the following effect.
![ScreenShot20200602_1](https://user-images.githubusercontent.com/30395561/83500771-cce73700-a4f1-11ea-9946-8023933e659c.png)
I find that in streetscape repo, there is a streetscape.svg file that contain the bike svg path. But I cannot find the bubble, and don't know to realiz

[2020-06-20 12:32] ravi1122 opened #448 "Zoom in/out Feature"
Hi All,

I am trying to implement Zoom in/out feature which mouse scrolling wheel is taking as the center of the windows screen rather than its default pointer as the center, I want windows screen should be center and whenever we will zoom in/out it will take window screen should be center rather than mouse point. Is there any way we can do it? Can anyone help me regarding the same?

[2020-06-22 07:23] Adam-Oudaimah-SCASE opened #449 "Change the size of the labeld boxes"
Is there an ability to change the size of the boxes (the labeled objects) live on the scene?

[2020-06-28 13:36] OmarTag commented on #362
Any updates on this ?

[2020-06-30 12:48] jlisee commented on #448
I don’t know this area of the code but at one time the default was the way you describe and we changed it.  So searching the history can help, it’s a standard deck.gl setting.

[2020-06-30 18:29] ibgreen commented on #448
Not sure if there is a [controller setting](https://deck.gl/docs/api-reference/core/controller), if not you may be able to create a custom deck.gl controller.

You can always open a question in the deck.gl repo.

[2020-07-02 23:11] kgreenek opened #450 "Polyline does not appear when using GEOGRAPHIC coordinate"
Might be related to #307

I am using the python builder library for the xviz server. I have verified that the json state_update sent to streetscape looks as expected.

This is how I set the metadata for the stream:

[code]

This is how I create the state_update:

[code]

If I set the coordinate to VEHICLE_RELATIVE, I can render lines just fine.

[2020-07-02 23:32] kgreenek commented on #450
If I change the polyline to be points instead and use the same GPS coordinates, the points render but the polyline does not.

[2020-07-06 00:22] xstmjh commented on #367
@didibaba hi Didibaba, did you figure it out?

[2020-07-06 01:53] didibaba commented on #367
@xstmjh @twojtasz I am not sure if this project is still under maintainance?

[2020-07-06 17:02] twojtasz commented on #367
It is still being worked on.  Regarding this the requestAnimationFrame issue should have been fixed, but i'm not sure we ever had a representative repro case.

GLB is slower compared to Protobuf, on both ends I believe server and client, protobuf will eventually be the default format.
The other part is the processing of the data on a web worker should be faster, but at times the message rate and o

[2020-07-09 05:16] xstmjh commented on #367
@twojtasz thanks for the write-up. I somehow still think the requestAnimationFrame issue persists. In our C++ live server, the pattern we see here is the server can not send too much data too fast. Originally we had the server sending over 60 FPS and the client was completely overwhelmed and the rendering is below 5 FPS as it'ts busy parsing and rendering too much stuff. We then tweaked the server

[2020-07-22 14:05] Algirdyz opened #452 "Strange package.json peer dependency version"
I was looking at some dependency issues and noticed this error in package.json:
```modules/layers/package.json```

One of the versions '8.1.5', have some weird character instead of a 1.... is that an l?

[2020-08-04 17:32] aubeena007 opened #454 "is it possible to draw a cuboid on lidar data using deck.gl ?"
i need to draw a 3d box on lidar. dont know to do

[2020-08-05 13:22] aubeena007 opened #455 "how to convert kitti/.bin to glb format?"
i have my own dataset i need convert it into glb fotmat how to do ?

[2020-08-07 06:07] niyasrahman commented on #455
check this https://github.com/uber/xviz/tree/master/examples/converters/kitti

[2020-08-07 06:08] #455 closed

[2020-08-07 20:43] yujingz commented on #454
https://avs.auto/#/xviz/protocol/schema/geometry-primitives

Essentially you are drawing a polygon in the world view

[2020-08-13 12:17] aubeena007 opened #456 "How to aggregate and render all point cloud ?"
i want a new feature that will be a checkbox for aggregate and render all  point-cloud across frames for detect stationery car from pointcloud how to do

[2020-08-19 21:16] yujingz commented on #456
`across frames` means across different timestamps or different sensors?

[2020-08-21 02:55] xstmjh commented on #431
It's still an issue in the latest version

[2020-08-24 06:23] WIll-Xu35 opened #458 "Is it possible to visualize only tracklet (object detection) data?"
Hi all,

As in the kitti dataset, there is a  `tracklet_labels.xml` file that represent all the object detection result.

If I only have object detection data and want to visualize it. How should I convert the data to xviz (assume the tracklet data format is the same as kitti dataset)? I've tried to delete unnecessary data and run the `./scripts/run-kitti-example.sh` within xviz directory, the con

[2020-08-29 10:01] AdelinaK opened #459 "XVIZLiveLoader and LogViewer for custom map display"
Hello. I'm working on a project and what I want to do is to display a map based on user's choice on a web interface. I have a list and when the user performes a new selection a request in send over websocket to the backend written in Python and there I have a connection with a server, I convert the data for the map in GeoJson format and I want to send it to the frontend. I use XVIZLiveLoader and a

[2020-08-31 05:31] aubeena007 opened #461 "Is it possible to visualize cuboid on image panel?"
Hi all,

is it possible to show a cuboid in image panel all inputs are welcome

[2020-08-31 17:10] #459 closed

[2020-09-01 10:15] didibaba opened #462 "Is is project still under development?"
Is is project still under development?

[2020-09-03 10:09] AdelinaK opened #463 "Custom map with LogViewer raises warnings"
Hello.
I'm working on an application and I'm trying to display a custom map using LogViewer and GeoJsonLayer from deck.gl. The car is showing and I can navigate through the viewport but I get warnings, can this be a cause why the road is not rendering? I also want to mention I tested the json object I'm sending for the map with this online viewer [https://geojson.io/#map=2/20.0/0.0](url) and is wo

[2020-09-03 11:52] #463 closed

[2020-09-09 16:58] xhlulu commented on #431
Could you share code or a gist of your updated `app.js` showing how that would work? I'm interested by this solution and I'm not sure whether this problem will be solved by the authors.

[2020-09-10 06:56] aubeena007 opened #465 "how to integrate nebula gl with streetscape.gl ?"
i want introduce drawing in streetscape.gl so am planing to add nebula gl how to this ?

[2020-09-10 13:16] ibgreen commented on #465
Two key observations would be
- streetscape.gl is based on deck.gl and allows the application to add its own custom deck.gl layers.
- nebula.gl is a layer pack for deck.gl with a number of editable deck.gl layers.
i.e. you should be able to pass nebula.gl layers to streetscape.gl.

[2020-09-13 11:35] aubeena007 opened #466 "annotation on streetscape.gl"
Hi! thanks for the amazing tool.
am trying to implement annotation on LiDAR data. so i want to draw a 3D cuboid on top of point-could Layer tried nebula.gl but it is not working as expected
Is there a recommended approach?
Thanks!

[2020-09-13 16:46] nwakkaf commented on #431
You can maybe have something like this (in map-view.js render()):
[code]
Or copy VIEW_MODE and alter DRIVER.firstPerson by adding some zoom level.

[2020-09-14 09:00] aubeena007 commented on #465
@ibgreen  i added nebula gl layer pack but it is not sync with pointcoud layer what will be the issue
attaching a screen-cast
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/69108888/93065841-d65a7080-f696-11ea-905d-5d45d7eaac8b.gif)

[2020-09-14 19:49] ibgreen commented on #465
Hmm, hard to say.

There may be issues with the coordinate systems, and nebula.gl support for` COORDINATE_SYSTEM.METER_OFFSETS`

Do you add any other custom deck.gl layers (non-editable)? Do those work correctly?

[2020-09-16 00:37] yujingz commented on #466
@aubeena007 https://avs.auto/#/xviz/protocol/schema/geometry-primitives   polygon type

[2020-09-16 03:11] #466 closed

[2020-09-16 03:11] #465 closed

[2020-09-16 03:12] #454 closed

[2020-09-16 03:12] #456 closed

[2020-09-16 03:12] #461 closed

[2020-09-17 04:45] aubeena007 opened #467 "how to get meter offset onClick?"
on _onLayerClick am getting coordinate and lngLat is there is anyway to get meter offset from origin?

usecase:render a scatterplot on clicked position
blocker: not able to get meter offset value

[2020-09-17 05:32] Pessimistress commented on #467
See https://github.com/visgl/deck.gl/issues/4589

[2020-09-17 11:10] #467 closed

[2020-09-17 16:09] aubeena007 opened #468 "how render scatterplot on click of mouse position?"
Hi everyone,
 I am working on drawing a scatterplot from perspective view on mouse click. on _onLayerClick am getting lngLat detail.
Is there a recommended approach?

[2020-09-18 06:45] aubeena007 opened #469 "nebula.gl layer is not compactable as customLayer"
am trying to add a nebula.gl layer as customLayer
see attachment [1]
layer :
` const layer = new EditableGeoJsonLayer({
      id: 'geojson-layer',
      data: this.state.data,
      mode: DrawPolygonMode,
      selectedFeatureIndexes,
      coordinate: "GEOGRAPHIC",
      onEdit: ({ updatedData }) => {
        this.setState({
          data: updatedData,
        });
      },
    });`

coordinateOr

[2020-09-19 01:47] #468 closed

[2020-09-19 14:25] #469 closed

[2020-10-13 05:26] Mrrabbitan opened #470 "how to let logviewer use touchRotate method on pad"
on pad I can not use a single finger to let viewState changes,just could  move parelle and zoom

[2020-10-26 07:12] EliotCao opened #471 "Is it possoible that send user custom message to server through XVIZLiveLoader"
As we know, the XVIZLiveLoader can receive real-tine message with websocket, so Is it possoible that send user custom message to server through XVIZLiveLoader. I can't find sent API in it.

Appreciate for your help.

[2020-10-26 23:12] yujingz commented on #471
https://github.com/uber/streetscape.gl/blob/master/modules/core/src/loaders/xviz-websocket-loader.js#L120

[code]

The loader holds a WebSocket instance. So you can just do  `loader.socket.send('anything you want')`

[2020-12-02 01:06] ryanjduffy commented on #357
I encountered a similar error so I'm sharing my workaround in case it is useful to others.

My analysis of the issue is that the streetscape layers are recreated frequently but the layers provided via `customLayers` are not. As a result, the LogViewer logic (or something downstream in deck.gl) tries to initialize the layers assuming they are new which works for the built-in layers but fails for cu

[2020-12-04 05:43] BupyeongHealer opened #473 "About Streetscape Performance Metrics"
Hello!
Our team uses xviz and streetscape.gl to create a visualization system.
Performance metrics are now used to determine latency rates.
However, I do not understand the meaning of xviz frames loaded, xviz frames rendered. What is that?
Also, the Our ros topics 10hz(gps) but xviz frames rendering degree is 22.
Why are these two figures different?

![image](https://user-images.githubusercontent.

[2020-12-07 07:38] twojtasz commented on #473
Hopefully the documentation is clear:
https://avs.auto/#/streetscape.gl/api-reference/react-components/log-viewer?section=debug-function-optional-

But to add additional context, frames are basically XVIZ Messages, specifically **StateUpdate**.  So it should be the number of messages we received.

The XVIZFrames Rendered matches the Redraw, which is **less** than the FPS.  What I believe this mean

[2020-12-07 07:52] BupyeongHealer commented on #473
@twojtasz Thank you for your kind explanation. I understand clearly!

[2020-12-07 07:52] #473 closed

[2020-12-07 13:56] AdelinaK opened #474 "Is it possible to move cars with drag and drop on a custom map layer displayed using LogViewer and XVIZLiveLoader?"
Hi.

I'm working on an application and what I want to do is to display a custom map layer using LogViewer (the custom layer will be a GeoJsonLayer to be more specific) display a car (with an initial position) and then I want to move the car where I want on the map (something like drag and drop). Then I want to start a simulation based on the position I have chosen and feed data in real time until

[2020-12-10 23:25] yujingz commented on #474
Think Drag and Drop might be tricky to do. My suggestion would be just to use mouse click to add a destination on your customized layer and then starts the simulation based on the current vehicle position and the clicked destination.

[2020-12-22 08:09] lejk8104 opened #476 "streetscape gl supported android"
Can street scapegl be used on Android other than windows or linux?
I wondering that use street scape gl in android

[2020-12-23 11:46] #476 closed

[2021-01-04 19:43] nwakkaf opened #477 "Map support with higher pitch angles"
Hello,

Will you consider upgrading to Mapbox version 2.0.0 (https://github.com/mapbox/mapbox-gl-js/releases/tag/v2.0.0) where the camera pitch angle is unlocked?

Thanks

[2021-01-04 22:47] twojtasz commented on #477
The new version has a new license right.  I need to see what our dependency lib does, react-map-gl.

https://github.com/visgl/react-map-gl/blob/master/docs/get-started/mapbox-tokens.md

I'm not sure just yet how to best approach this.  Ideally it's a user choice with sensible defaults.  If I can find a way to have the mapbox v1 as the default, with the ability to pass in or configure the v2 (all v

[2021-01-05 22:13] nwakkaf commented on #477
We actually use streetscape as a dependency for now (no access to its internal code). So yes if it would be possible to have the Map version configurable at the application top-level (user's side), then this would meet our need (we can decide then whether to go with the commercial v2 Mapbox license or just keep using the older version)

I see this discussion, however, (https://github.com/visgl/dec

[2021-01-06 01:44] ibgreen commented on #477
No plans to drop mapbox support. The goal of deck.gl to support the best commercial base map integrations. Mapbox is likely to remain a great base map option for users who need very high quality base maps and are willing to pay for that.

That said, deck.gl would like to offer a free, lower quality base map option in parallel. I don't want to go ahead of things for deck.gl itself, but for now, if

[2021-01-07 01:16] nwakkaf commented on #477
Hmm, sounds good, thanks for the illustration.

[2021-01-15 10:01] nwakkaf opened #478 "License for xviz-data repo"
Hello,

I checked out this repo (https://github.com/uber/xviz-data.git). I want to mirror it and be able to run streetscape's website-demo.
However, there is no license file bound with that repo, is it left out on purpose? can we alter its content after mirroring it?

Thanks

[2021-01-22 13:16] EdoardoSerri opened #479 "Example visualization issue"
Hi,

I have started having a look to streetscape but I have an issue with the viewer.
I have followed all the steps in the main readme to start the example, but after I started it and the web page pops up, it displays the interface for few seconds to then become all blank.

I inspected the web page and it says that there is nothing in the body after the interface has disappeared.
I have tried to c

[2021-01-22 19:33] twojtasz commented on #478
@nwakkaf No need to really mirror, that data was generated using the public KITTI data set and is the same that is used in the getting-started example.

So you could just generate your self, the KITTI data i believe is a open license (you must verify) so you may need to to cite that as appropriate.  In ours demo app there is a citation visible in the application info tab.

And you need to verify f

[2021-01-25 09:47] #479 closed

[2021-01-25 09:48] EdoardoSerri commented on #479
The problem was running Ubuntu in the virtual machine. It works running `yarn start-local` instead of `yarn start`

[2021-01-27 13:05] nwakkaf commented on #478
Thanks for your answer and the info and sorry for my late response.

Actually, my idea was to mirror that repo and remove the 'nutonomy' dataset and keep testing with KITTI only!
However, being able to use XVIZFileLoader (and load data on-demand) would solve my issue.

Kind regards

[2021-01-29 16:15] nasrat-v opened #480 "TypeError: Super expression must either be null or a function"
I recently have this error without changing anything in my code.

_**Error**_

`> Build error occurred
TypeError: Super expression must either be null or a function
    at _inherits (.../node_modules/@babel/runtime/helpers/inherits.js:5:11)
    at .../node_modules/@streetscape.gl/core/dist/es5/components/log-viewer/perspective-popup.js:102:29
    at Object.<anonymous> (.../node_modules/@streetscap

[2021-01-31 20:19] cmpute commented on #480
I can confirm this issue when I completed a fresh install of streetscape and run the example. This error is shown in the debug console.

*Env*:
- Ubuntu 18.04
- streetscape.gl master
- node v10.23.2
- npm v6.14.10

[2021-02-02 13:16] nasrat-v commented on #480
The error seems only related to Linux.
`npm run build` run successfully on windows 10 with same version of node and npm.

[2021-02-02 14:22] gitpayal commented on #480
I am getting this error   with the windows machine
**Environment :**
npm 6.14.10
node v14.15.4
streetscape.gl latest
windows 10 enterprise

**Error**

node_modules/@babel/runtime/helpers/esm/inherits.js:4
  1 | import setPrototypeOf from "@babel/runtime/helpers/esm/setPrototypeOf";
  2 | export default function _inherits(subClass, superClass) {
  3 |   if (typeof superClass !== "function" && super

[2021-02-03 04:35] cmpute commented on #480
Could you please share the npm package versions on windows, so that we can compare and see whether it's due to changes of dependent packages?

[2021-02-03 10:59] nasrat-v commented on #480
I confirm that I can build and start on Windows 10 Education 20H2.

**_Environment_**
- node 14.15.4
- npm 6.14.10
- streetscape 1.0.6
- reactjs 16.13.1
- nextjs 9.5.3

_**package.json**_
[code]

[2021-02-03 13:47] Pessimistress commented on #480
This is caused by react-map-gl switching to functional components. You can work around this with the following in package.json:

[code]

[2021-02-03 15:45] nasrat-v commented on #480
Thanks you !
It fixed the build
Don't forget that `"resolutions"` only work with `yarn`

[2021-02-05 19:11] twojtasz commented on #480
I need to publish a new release, then it should work

[2021-02-15 08:59] #433 closed

[2021-02-15 09:00] #443 closed

[2021-03-01 06:33] #471 closed

[2021-03-08 17:36] EdoardoSerri opened #484 "import 'fs' library does not work"
Hi everybody,

I have an issue that I do not know if it is a bug or else.
I'm trying to import the library 'fs' to iterate through the file system and dynamically choose the length of the LOGS array, in constant.js, to be able to visualize more than one XVIZ file, not knowing the name of the number of the XVIZ files I have to display.

However, I have installed 'fs' using :
 `npm install fs`
impor

[2021-03-08 18:32] ibgreen commented on #484
Probably stating he obvious, `fs` is a node.js library, that is not available in the browser.

Are you using it on the server side?

[2021-03-08 18:43] EdoardoSerri commented on #484
@ibgreen yes. I'm not so confident with javascript. So I may be mistaking something in the workflow.
That's it

- import the fs library in the javascript file
- npm install fs
- yarn
- yarn start-local

Am I doing something wrong?

[2021-03-11 10:21] #484 closed

[2021-03-25 16:13] EdoardoSerri opened #489 "Black Frame during video play"
Hi,

I have a problem during the video playback and I cannot understand if is an xviz problem or a streetscape problem.
When I play my xviz data on streetscape, sometimes some frame get lost and the screen turns black for a moment. The error that give me out is the one attached.
This error is given only when I add images to the data.

The xviz is given by a ros conversion and images are Compressed

[2021-03-28 14:16] PeterJaq commented on #432
@Orkunkizilirmak Do you solve this problem?

[2021-04-10 12:45] vinnnnnnu commented on #346
Hi @twojtasz and @srikanth-kuriyala,

Even I am looking for implementing same kind of requirement.  Mainly I am trying to achieve rear view,  can you please help me out in this?  Thank you!

[2021-04-10 15:25] herb-kuta-lge commented on #452
Please fix this. It causes npm to warn:
[code]

[2021-04-14 08:51] upadsha opened #491 "Windows version ?"
Has any one developed window based similar application, if so please share the link

[2021-04-18 08:04] yanganlan0310 opened #493 "$ yarn -- error Command failed. Exit code: 128"
error Command failed.
Exit code: 128
Command: git
Arguments: ls-remote --tags --heads https://github.com/jlisee/protobuf.js.git
Directory: /home/yang/software/streetscape.gl/examples/get-started
Output:
fatal: unable to access 'https://github.com/jlisee/protobuf.js.git/': Failed to connect to github.com port 443: Connection refused
info Visit https://yarnpkg.com/en/docs/cli/install for documentati

[2021-05-11 07:39] vishnu112 opened #500 "Without hovering over a metrics element, display the current value of the metric at the location is shown?"
![Metrics](https://user-images.githubusercontent.com/4620698/117777336-21467b00-b25a-11eb-83a6-29836c7e93fc.PNG)

[2021-05-14 00:28] hujianglong commented on #493
same issue, Is there a solution to this problem

[2021-05-14 00:46] hujianglong commented on #493
I try use this command, and it is ok for this problem:
git config --global url.git://github.com/.insteadOf https://github.com/

[2021-05-30 22:35] AyaYaf opened #502 "Importing HD map in XODR format or a map from openstreet maps"
I have a question regarding streetscape.gl and would appreciate your help.

Can we import HD map in XODR format or a map from openstreet maps in the Log Viewer?

Thank you

[2021-06-02 21:35] yujingz commented on #502
I'd say the easiest way is to convert them into geojson

[2021-06-09 04:40] asmockler opened #504 "Add react hook alternative to connectToLog"
Hi! I've started using `streetscape.gl` and noticed that there are several react warnings logged about `componentWillReceiveProps` and thought I would see what I could do about fixing them. Additionally, the ergonomics of `connectToLog` could be better for functional components. I propose adding some hooks as an alternative to `connectToLog`.

I've tried out two implementations in my project: `use

[2021-06-15 09:15] pai-qi commented on #502
+1

[2021-06-18 02:48] pai-qi commented on #458
I leave only oxts and velodyne_points in kitti data，because I don`t need pointcloud, so I change the oxts, but the velodyne_points is left only to resolve the files missing problem.
But I don`t konw how to change data in tracklet_labels.xml

[2021-06-20 09:32] pai-qi commented on #346
Hi, is it done yet?

[2021-06-22 07:13] vinnnnnnu commented on #346
Hello, nope.. still haven't done?
any suggestions?

On Sun, Jun 20, 2021 at 3:02 PM pai ***@***.***> wrote:

[2021-06-23 18:38] #452 closed

[2021-06-24 08:57] sidml commented on #301
Thanks!
I got the same error in ubuntu 20.04. Your solution worked!

[2021-07-09 08:28] vince52 opened #505 "File Format load file using URL with query parameters"
Hello,

I tried to load a .glb file from network but I had an issue.
The URL have some query parameters so it couldn't be parse.

An example of an URL with query parameter that cannot be parse:
https://github.com/uber/xviz-data/blob/master/kitti/2011_09_26_drive_0005_sync/1-frame.glb?parameter=something

I saw that the way used to parse the file is here:
https://github.com/uber/streetscape.gl/blob

[2021-07-19 01:18] pai-qi commented on #450
I have the same problem, when the distance between the points is too short, it will appear

[2021-08-04 07:36] pai-qi opened #508 "Is it possible to draw a polygon using center`s gps and long\width\hight ?"
I konw it can be done using 4 gps  , and I generate the 4 gps with center`s gps + long\width\height, but it takes too much time, is there another way I don`t know ? Thanks

[2021-08-05 18:23] yujingz commented on #508
I think you are confusing rectangle/square with polygon, if you think carefully about the definition of polygon, you won't ask this question. My suggestion would be to make a custom layer based off of the polygon layer

Also I don't understand why calculating vertices from center + length, width, and height would be time-consuming, do you have so many bounding boxes? If you care so much about perf

[2021-08-05 18:26] yujingz commented on #505
First of all, this is not related to the repo. Consider closing this issue and ask on stackoverflow.

Back to the question, you are using github as a file server and in a wrong way. Try something like https://github.com/uber/xviz-data/blob/master/kitti/2011_09_26_drive_0005_sync/1-frame.glb?raw=true to get the raw file instead of the github page.

[2021-08-05 19:09] vince52 commented on #505
Sorry if there is a misunderstanding.
I'm using AWS S3 to host XVIZ files.
I was only using GitHub XVIZ demo repository to show the issue behind it.

The issue is that if you put any query behind the file format, and if you use file way of reading files, the core module will fail reading the glb file.

Sorry if it's not a correct issue.
I discovered another way to do it using stream, so I will con

[2021-08-05 19:09] #505 closed

[2021-08-06 01:13] pai-qi commented on #508
Thanks for your reply.
What I need is to draw the cars on the road, so my first choice is to use XVIZMetadataBuilder. What I get from datasource is a car`s center gps and its length\width\height,  this api seems  not to support it without coordinate transformation（which tackes much time either in frontend or in backend)?

[2021-08-17 03:53] pai-qi commented on #415
Thanks

[2021-09-02 04:52] aubeena007 opened #511 "am getting error when running example site"
am getting error when running example site.

WARNING in ./node_modules/@xviz/io/dist/esm/gltf/glb-builder.js 98:25-36
"export 'padTo4Bytes' was not found in '@loaders.gl/loader-utils'

[2021-09-06 05:27] malao98 commented on #443
Hi,

I met the same problem as yours when im trying to visualize nuscenes dataset using streetscape gl. Both my lidar data and camera image are not working too. Did you figure out how to solve it?

[2021-09-06 10:52] KSaikishore commented on #443
nope

[2021-09-16 14:10] peppahjackk commented on #345
Is there a way to change the point cloud colors in the frontend after conversion?

I'm trying to use Deck.gl [PointCloudLayer](https://deck.gl/docs/api-reference/layers/point-cloud-layer) but the data format picked up from my converted pointcloud stream does not line up.

[2021-10-27 14:01] millerda opened #513 "Metric for live data"
Hi there,

Is it possible to get a metric-style chart with live data? Using either XVIZPanel or XVIZMetric components I can't get our data to show up, possibly because I am only passing in one frame of data (most recent time available only) at a time? It isn't clear to me how to specify which stream the XVIZPanel/Metric should show, or if this is automatic, which type of streams it will pull from

[2021-11-01 12:42] juzi5230 opened #514 "Obtain the coordinates of four points in the visual range"
Can I obtain the coordinates of four points in the visual range

[2021-11-04 16:20] yujingz commented on #514
Can you elaborate on what the visual range means?

[2021-11-09 03:26] juzi5230 commented on #514
The range we can see of the screen,
 i want to obtain the coordinates of the four vertices in the screen,
 or the minimum coordinate point and the maximum coordinate point

[2021-11-09 03:26] juzi5230 commented on #514
The range we can see of the screen,
 i want to obtain the coordinates of the four vertices in the screen,
 or the minimum coordinate point and the maximum coordinate point

[2021-11-09 06:52] yujingz commented on #514
Coordinates doesnt really make sense in 3d views

For 2D views, check out https://avs.auto/#/streetscape.gl/api-reference/react-components/log-viewer?section=viewstate-object-optional-

[2021-11-09 06:54] yujingz commented on #513
time_series it is

[2021-12-01 08:11] juzi5230 commented on #514
I get it ,thanks for you reply！

[2021-12-07 07:59] juzi5230 opened #516 "How to use heat map to show road congestion？"
I want to show road congestion using HeatmapLayer
The track of road congestion  extends along the road

[2021-12-09 05:52] juzi5230 opened #517 "how to change the layer's attributes dynamically"
I want to modify the color of GeoJsonLayer dynamically, but failed

    new GeoJsonLayer({
      id: 'HEAT_MAP' ,
      data:  geojson, // geojson is a variable， everytime before render it will be computed again
      opacity: 1,
      stroked: false,
      extruded: true,
      elevationScale: 1,
      lineWidthUnits: 'meters',
      lineWidthMinPixels:1,
      lineWidthMaxPixels:3,
      getElev

[2021-12-09 05:56] #516 closed

[2021-12-10 03:51] juzi5230 opened #518 "click the left mouse button on the layer, I didn't get the attributes of info and object"
I use customLayers to show some icon using IconLayer.
when I click the left mouse button on the  layer, I didn't get the attributes of  info and object

when I click computer touch screen on the  layer, I can get them.

        new IconLayer({
          id: d => xx,
          data: xx,
          pickable: true,
          sizeScale:xx,
          getPosition: d => d.center,
          getSize: d => 8

[2021-12-11 14:49] Warpeas opened #520 "The view go blank"
Hi, I try the streetscape.gl and xviz on Ubuntu20.04. I started the get-start and can see the scene.
![Screenshot from 2021-12-11 22-38-37](https://user-images.githubusercontent.com/44918291/145680658-48fa31e0-4186-4404-b9af-33d87afb1068.png)

But when I try to drag the view under the view mode driver, all the page go blank.
![Screenshot from 2021-12-11 22-42-33](https://user-images.githubusercont

[2021-12-13 07:41] JianXinyu commented on #502
Could you please give some advice on how to convert the XODR format into GeoJson?  Thanks!

[2021-12-14 06:00] yujingz commented on #502
try https://sumo.dlr.de/docs/netconvert.html

[2021-12-15 09:35] JianXinyu commented on #502
Thanks! I'll this one. Also, I found a repo that can directly transform .xodr into GeoJson. See [this repo](https://github.com/JianXinyu/OpendriveParser) that I forked from the original repo.

[2021-12-22 09:18] JianXinyu opened #521 "How to add layers on Mapbox?"
Hi, I'd like to load a layer using Three.js. Mapbox supports Three.js layer. How to use mapbox.addLayer() in Streetscape.gl? Thank you!

[2021-12-23 09:31] JianXinyu commented on #370
Hi, did you solve this in the end? I have the same problems now. Thanks!

[2021-12-27 10:36] SlahserZ commented on #256
could you give me some suggestions about this. I wanna control the camera target, but I just set **VIEW_MODE** but more detailed angle or pose. thank you.

[2021-12-30 07:31] JianXinyu opened #522 "How to add two ego cars?"
Is it possible to show another car using the same car model as the ego car? I'd like to show a shadow-ego car as the historical trajectory.

[2022-01-02 04:40] twojtasz commented on #522
@JianXinyu One way we approached this was simply to define a pose, such as `/ghost_pose`, but then we added them directly as a `customLayer` to the LogViewer props.

[2022-01-02 04:44] twojtasz commented on #521
We use mapbox via the react-map-gl package.  The LogViewer does have a `onMapLoad()` callback, which a pass-through from the StaticMap from react-map-gl.

Maybe this can help?

Also, it may be worth checking out https://deck.gl/docs/api-reference/mapbox/overview

[2022-01-02 04:47] twojtasz commented on #520
@Warpeas this is a viewport matrix inversion, the root cause comes from the StaticMap.

Normally in the perspective view, the viewport is limited and you can't go below the car. (ground plane).  In driver mode, I can't seem to repro, I can only rotate, not change pitch.

[2022-01-02 04:54] twojtasz commented on #508
The `/vehicle_pose` represents a point.  The default mesh we create this point at the center of the rear axle, however, you can provide your own `car` prop (see https://avs.auto/#/streetscape.gl/api-reference/react-components/log-viewer?section=car-object-optional-)

And if you prep mesh you can create it as necessary to match your use-case.

The only case that would be awkward is if you have a nu

[2022-01-02 04:55] twojtasz commented on #511
I"m working to update this issue. it's from an out dated dependency library that seems to have broken semver.

[2022-01-02 05:01] twojtasz commented on #517
I don't understand, you  are passing geojson as a variable through XVIZ?

You could also pass this data out-of-band of XVIZ, and just use the GeoJsonLayer passed as a customLayer to the LogViewer?

However, if you are constructing the GeoJsonLayer, can't you just change the getLineColor array?

[2022-01-02 05:04] twojtasz commented on #514
@juzi5230 I think what you want are the bounds of the viewport.  deck.gl supports this, see https://deck.gl/docs/api-reference/core/viewport

I don't know if we expose this at the. moment.

[2022-01-02 05:06] twojtasz commented on #513
Time-series is correct, and it should display all buffered data accumulated in the client/browser.

The XVIZPanel is driven by the Declarative UI, which there are examples in the XVIZ kitti code.  That is where you can specify the streams to power the chart.  The definition is passed in the metadata, again in the Kitti code.

[2022-01-02 05:08] #478 closed

[2022-01-02 06:15] #14 closed

[2022-01-02 06:16] twojtasz commented on #284
we will be adding typescript support.

[2022-01-02 06:16] #284 closed

[2022-01-02 21:54] twojtasz commented on #294
we have #1, #2 something that would be beyond default behavior and would need to be in a customization by a particular use-case.

[2022-01-02 21:54] #294 closed

[2022-01-02 23:30] twojtasz commented on #511
I'm not able to reproduce as the yarn.lock file has @loaders.gl/loader-utils  at version 2.3.13, which has the padTo4Bytes.  However, it was pointed out this dependency is missing in the package.json for @xviz/io.  So i'm adding that in hope it addresses the issue.  I'm guessing since it was not listed it was getting v3 and thus causing the problem.

updating to loaders.gl v3 can come next.

[2022-01-03 01:36] twojtasz commented on #511
finally able to repro, comes from newer deck.gl which includes loaders.gl 3.  Just running the  the get-started example with `yarn start-streaming-local` was able to show this error in the build output.

[2022-01-05 06:50] YashKhorja opened #523 "Blank Screen in Get-Started example"
I have followed the instructions and started with example:get-started but I am getting screen blank. I am getting below error
<img width="1680" alt="Screenshot 2022-01-05 at 12 08 49 PM" src="https://user-images.githubusercontent.com/89375961/148172360-7aa7a1e8-8550-451f-b23c-9524d300cb0e.png">

According to the error I am getting, the problem is with the methods using with [XVIZFileLoader](https:

[2022-01-06 08:30] JianXinyu commented on #522
@twojtasz Thanks for your answer! I'll test both methods in my project.

[2022-01-10 03:18] SlahserZ commented on #523
seem like data error.

[code]

you can find it in xviz-loader-interface,  the `message` is null, it leads this crash.

[2022-01-10 03:22] SlahserZ commented on #522
[code]

[2022-01-10 12:43] YashKhorja commented on #523
Yeah but I have just cloned and started the app and didn't make any changes. So it should be working right?

[2022-01-11 02:00] SlahserZ commented on #523
I think so, you can try other data bag

[2022-01-13 20:14] millerda commented on #513
After all this did end up working once I found a similar example inside of the XVIZ repo that someone had created. For anyone else struggling with this:

You have to create a ui element within your metadata as below.

[code]
And you have to specify this within the UI code as well

[code]

[2022-01-13 20:15] #513 closed

[2022-01-14 05:24] SlahserZ opened #525 "[proposal] remove streambuffer in child class."
I'm rebuilding this project by ts, and found a problem.

in `XVIZLoader`, you could use `streambuffer` which be from child class by context switch. but it's so loose.

so I think we can put the `streambuffer` into `XVIZLoader` and remove `streambuffer` in child class. if you ac this, I will fix it.

[2022-01-22 09:33] Chimera-AI opened #528 "Way to visualize voxel grids/ octrees"
Dear devs,

Is there a way to add voxel grid / octree support in your viewer?
Currently, I use the polygon primitive to wrap a pointcloud representation of voxel grids by cubes to show a it. Basically my points are centroids of the voxel grid.
However, as you might also figure out, this naive approach gets very slow as the size of pointclouds increase.
A native support for adding more shape option

[2022-01-23 21:06] tim-wojo commented on #528
This has come up before, but we need a dataset to drive a custom layer first and then we can refine the spec for the data and work on a default implementation.

I'm not sure I follow your point-cloud to voxel use-case, it sounds like your talking about quantizing the PC data into a voxel grid, and then using voxels as a clear representation that it covers not just a point but a volume?

I would be

[2022-02-02 04:39] lesun90 commented on #523
The problem comes from the new update of loaders.gl package. Follow this fix for the temporary fix.

https://github.com/aurora-opensource/xviz/issues/663

[2022-02-06 02:01] Chimera-AI commented on #528
Hi Tim,

You are correct in your understanding. You can quantize your pointclouds into voxel grids for example, The library open3D has utilities to convert pointclouds to grids for example.

The biggest usecase will be to display an occupancy grid/map which is created from a raw point cloud. Algorithm like octomap is one such example...

An octomap will take a dense point cloud (from 3D rgbd senso

[2022-02-27 02:59] deerajDev opened #533 "Example for using json instead of glb format."
Thank you so much for this wonderful project. I wanted to know how to use JSON format instead of glib format.

[2022-03-09 09:50] SlahserZ commented on #346
That's easy. you can set your `car offset` bearing as 90 or -90, you can get it.

[2022-03-19 14:59] JunkyDeveloper opened #535 "Points are not rendered!"
Hi,
i currently testing with the example kitti dataset. and i had checked out the master branch and all are rendered but not the lidar points.
In version 1.0.9 (tag) primitive points working but on the source code on the master they aren't rendered!

Was there a change or is that a bug?

[2022-03-21 01:20] JunkyDeveloper commented on #533
You mean json XVIZ input?
You only need to change some lines in the kitti converter example. If that is what you mean i can show them to you

[2022-04-08 02:50] FFEverglow commented on #511
doesn't work

[2022-04-10 11:51] jayanshuagrawal commented on #321
I am also getting the same mapbox token issue.
Can someone tell how we have to pass the token. I have followed the steps mentioned above and generated the token from mapbox website, But i am not understanding how to pass this token into constant.js mentioned above.

can someone help me

[2022-04-14 16:50] twojtasz commented on #525
what do you mean rebuilding in TS? You are rewriting the whole thing in TS.   I have some ts defs.  would be great to coordinate.

[2022-04-20 08:33] SlahserZ commented on #525
yes, I have rebuild myself project by typescript, but found @xviz/xxx is heavier than my mind, so sorry, I have given this plan up.

[2022-05-07 07:23] Woodii1998 opened #540 "It is not available in react 18"
Need to update react-map-gl version
[Details](https://github.com/visgl/react-map-gl/issues/1608)

[2022-05-09 07:02] #525 closed

[2022-05-11 00:24] twojtasz commented on #540
thanks for reporting.

[2022-05-11 00:29] twojtasz commented on #535
i don't have any issues

[2022-06-03 01:06] twojtasz commented on #535
I was finally able to verify this and fix it.

The problem is that the hosted date for our demo on the website uses a color format for points of RGBA, where generating data with newer XVIZ libs will produce RGB (though details depend on the calling code).

The problem was that the PointCloudLayer in Deck.gl >= 8.0 has a prop `colorFormat` that defaults to `RGBA`.  This results in a GL_INVALID erro

[2022-06-03 01:06] #535 closed

[2022-06-03 01:09] twojtasz commented on #533
yeah, the way I do this is in this script file
https://github.com/aurora-opensource/xviz/blob/master/scripts/run-kitti-example.sh#L69

Add `-json` the line, such as
[code]

[2022-06-03 01:09] #533 closed

[2022-06-03 01:11] twojtasz commented on #523
This should be fixed in @xviz/*@1.0.11.

You can see commits and published version commits at
https://github.com/aurora-opensource/xviz/commits/master

[2022-06-03 01:13] twojtasz commented on #522
considering this has been answered, I'm going to close this issue.  Please re-open or file a new issue.

[2022-06-03 01:13] #522 closed

[2022-06-09 12:54] LRT-stack opened #542 "It is not available in react 18"
It is not available in react 18.

[2022-07-07 09:16] SlahserZ opened #547 "unknow file format when loading frame files."
Throwing a error 'unknow file format' when I load frame files from aws s3.
I have found this error in xviz-file-loader
[code]
if I use this `RegExp` to match a s3 url and get a string like 'json?a=1&b=2.....'
I think it's a bug for streetscape.gl. I will fix it right now.

[2022-07-30 13:02] ChinesePaladin61 opened #551 "Error installing Gatsby framework template"
Problem description：Input at vscode terminal：gatsby new hello-world https://github.com/gatsbyjs/gatsby-starter-hello-world，report errors
        Error description：Cloning into 'hello-world'...
 ERROR

Command failed with exit code 128: git clone https://github.com/gatsbyjs/gatsby-starter-hello-world.git hello-world --recursive --depth=1

  Error: Command failed with exit code 128: git clone https:

[2022-08-12 06:17] ShekharSumanP opened #552 "Metric/Plot Data zoom in/out for analysis"
Hi
Thanks for the amazing toolkit.

I wanted to get some suggestions/idea for the metric/plot visualisation capable of zooming in and out. From what i have read such feature is not available at the moment.

The point here being that currently we are not able to zoom into a particular time -series range within the whole dataset, something we can do using [plotjuggler](https://www.plotjuggler.io/) o

[2022-08-16 07:44] jruebsam opened #553 "Playing different XVIZ streams with different timestamps"
I am currently trying to visualize two XVIZ streams with different timestamps, but here the issues occurs that
the overall visualization is flickering.

Lets say I have  a first stream A running at 50 hertz and a second stream B running also at 50 hertz but with a delay of 0.01s.
This basically means that every 0.01 second I get  data  alternating between stream A and stream B.

Depending on how t

[2022-08-22 07:01] jruebsam commented on #553
solved by not sending empty markers, see:
https://avs.auto/#/xviz/protocol/schema/session-protocol?section=state_update

[2022-08-22 07:01] #553 closed, assigned to nobody

[2022-08-31 03:42] yujingz commented on #552
We've had similar stuff done with Chart.js and it's zoomable plugin https://www.chartjs.org/chartjs-plugin-zoom/latest/guide/usage.html

At the end of the day, the plot component is just a presentation layer. You can show the data in whatever react component you want.

[2022-08-31 20:24] Barathwaja commented on #391
Hi @karanchawla ,
Did you find one for the flights?

Thanks !

[2022-09-03 06:17] LilyGinger opened #554 "How to change the size of Lidar point cloud"
Thanks for your great work! We are new learner in using streetscape.gl and we are wondering how to change the size of the point cloud.
Looking forward to your reply!

[2022-09-09 05:47] ShekharSumanP commented on #552
Thank you so much for the answer.

[2022-09-09 05:47] #552 closed, assigned to nobody

[2022-09-27 03:05] C1oudust opened #556 "How to change the LogViewer play speed, such as 2x speed, 0.5x speed"
Thanks for your great work! Looking forward to your reply!

[2022-10-05 02:58] xibei08 opened #557 "is there anyone realize the "log from live" mode"
i want to visualize the information at real time, the streetscape support log-from-live. however, how the data transfer to the streetscape, that means, what i should do on xviz side???
thanks a lot!!!!

[2022-10-12 06:43] yujingz commented on #557
Basically just like how you'd stream any other things. Your data source keep sending messages to the xviz server, then it will be bundled and convert & encode per the XVIZ spec. Then the server sends the data to the frontend in live mode

[2022-10-16 16:09] YaminoYuki opened #558 "AutoComplete input from monochrome"
Is there a way to provide Autocomplete input from streetscape.gl monochrome ( equivalent to:
datalist tag: https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_datalist
or autocompelete for material ui: https://mui.com/material-ui/react-autocomplete/ )?

I checked shared/dropdown but its type is  "select" .. so this cannot be used for this purpose .. the idea is to be able to write the searc

[2022-10-18 04:52] danielthomas06 opened #559 "Unable to visualise local in get-started"
I facing error "Not allowed to load local resource: file:///C:/Users/uberavs/xviz-data/dataset1/0-frame.json" while trying to visualise in get-started folder using yarn start-local command.

But the same dataset works fine while trying to visualise website-demo.
Please help.

[2022-10-18 05:00] danielthomas06 commented on #559
![Uploading IMG_20221018_103021.jpg…]()

[2022-10-18 05:01] danielthomas06 commented on #559
![IMG_20221018_103021](https://user-images.githubusercontent.com/71426298/196339468-25a1bae7-6d24-4ccc-b35c-50703d2de595.jpg)

[2022-11-01 03:41] heyu3913 opened #560 "When I switch from the DRIVER visual angle to the PERSPECTIVE/TOPDOWN visual angle, the screen will have problems"
PERSPECTIVE visual angle
<img width="1679" alt="image" src="https://user-images.githubusercontent.com/72067297/199153934-760ce2f4-3c7a-44bf-9322-2c476fb44f0d.png">

TOP DOWN visual angle

<img width="1679" alt="image" src="https://user-images.githubusercontent.com/72067297/199153953-eadc852b-ef4a-43b6-9185-60cd6e53d2e2.png">

Nothing changed

[2022-11-01 14:51] twojtasz commented on #560
What problems? I see the bottom of the polygons in perspective, and don't
in top down orthogonal which is correct.

What is the driver part of this?

On Mon, Oct 31, 2022, 20:42 heyu3913 ***@***.***> wrote:

[2022-11-02 02:13] heyu3913 commented on #560
Thank you so much for your reply.
Here are my operation steps：

Step1. The default click to open the page is PERSPECTIVE MODE, the page is shown as below：
<img width="1679" alt="image" src="https://user-images.githubusercontent.com/72067297/199378430-ea3ed00c-6358-4f43-8654-9c2eee7924c2.png">

Step2. When I switch to TOP-DOWN MODE, the page is shown as below：
<img width="1679" alt="image" src="htt

[2022-11-04 02:51] heyu3913 opened #561 "Any progress made so far about the HD map? Is there any examples?"

[2022-11-04 03:21] heyu3913 commented on #402
+1

[2022-11-04 03:29] twojtasz commented on #560
Did you find the fix?

On Thu, Nov 3, 2022, 19:52 heyu3913 ***@***.***> wrote:

[2022-11-04 03:31] twojtasz commented on #560
Seems like transition in step 2 is wrong, but in First person mode controls
are limited, same with top down.  Just rotation in those modes

On Thu, Nov 3, 2022, 20:29 Timothy Wojtaszek ***@***.***>
wrote:

[2022-11-04 03:35] heyu3913 commented on #560
I didn't fix it

[2022-11-10 15:01] sriselva21-mbrdi opened #562 "Video not able to play and Images also not able to load"

[2022-11-10 15:01] sriselva21-mbrdi commented on #562
{"type": "xviz/state_update", "data": {"update_type": "INCREMENTAL", "updates": [{"timestamp": 2.5399270000000342, "time_series": [{"timestamp": 2.5399270000000342, "streams": ["FSL_OTFSD.Header.Timestamp", "FSL_OTFSD.eModuleState", "FSL_OTFSD.paddingBeforeStruct4ByteAlign_1"], "values": {"doubles": [106058117.0, 22.0, 0.0]}}], "/frame": {"images": [{"data": "", "width_px": 400, "height_px": 120}]

[2022-11-10 15:01] sriselva21-mbrdi commented on #562
For image data i am converting the image to base64 format and passing the string
Note: the binary value of the image is long so cannot added into comments

[2022-11-10 15:02] sriselva21-mbrdi commented on #562
![frame0](https://user-images.githubusercontent.com/114639260/201128066-4655ba1a-81de-49a2-b34e-90d4fd5080cc.png)

[2022-11-10 15:03] sriselva21-mbrdi commented on #562
![image](https://user-images.githubusercontent.com/114639260/201128672-cc60462b-ff86-4a42-bb76-11566dcbbec5.png)

[2022-11-15 09:42] jruebsam opened #563 "Opacity is broken"
I have a scenario where I create a large polygon which shows the current field of view of the sensor.
This polygon should be transparent (so opacity is set to s.th. like 0.5), however in some situations objects behind this polygon are not drawn. See this picture:
![image](https://user-images.githubusercontent.com/5864799/201885278-5868cbc7-7ae5-49cc-8165-3fb73c2d62ff.png)

Here you can see the gre

[2022-11-25 19:26] aharmat opened #564 "Discrepancy between IDENTITY and GEOGRAPHIC coordinate systems"
I'm visualizing the pose of a vehicle and some circle markers near the vehicle using XViz and Streetscape, and am having problems with where these entities are drawn on a 3D map when using the IDENTITY coordinate system. The following illustrates the problem:
![image](https://user-images.githubusercontent.com/7936239/204044008-a5a44c5c-c4a4-4a5a-9708-3aa924d15035.png)

The yellow box is the vehicl